@(gameState: models.game.GameState with models.game.RequesteeQuizFinished, answerOp: Option[models.question.derivative.DerivativeAnswer])(implicit user: service.User, session: play.api.db.slick.Config.driver.simple.Session)

@import controllers.game.routes.{GamesController, GamesRequestorController}
@import helper._
@import models.user.UserPimped
@import models.game.GameResponseStatus

@defining(gameState.requesteeQuiz) { quiz =>
@defining(quiz.results(user)) { quizResults =>

@mainWithBorder("Answering Quiz", tag.courseOpLink(gameState.game.course)) {

    <h4>Answer the quiz your partner created</h4>

    There are @quizResults.questions.size Question(s) in the quiz. Do your best to anwer the questions and when you are done hit "Finalize Answers". @tag.icon("icon-help", 'data_ot -> "Click a question to answer it")<br>

    <table class="pure-table pure-table-striped extra-border">
        <tr>
            <th>Question</th>
            <th>Status</th>
        </tr>
        @for(result <- quizResults.results) {
        <tr>
            <td>
                <a class="pure-button" href="@GamesController.question(gameState.game.id, result.question.id)"> @mathml.mathmlDisplay(result.question) </a>
            </td>
            <td>
                @tag.status(result.status) @tag.maybeIndicateCorrect(result.question, answerOp)
            </td>
        </tr>
        }
    </table>

    @form(GamesRequestorController.finalizeAnswers(gameState.game.id), 'class -> "pure-form") {<input type="submit" class="pure-button" value="Finalize Answers" >}

}

}
}