@(gameState: models.game.GameState with models.game.RequestorQuiz)(implicit user: models.user.UserFull, session: play.api.db.slick.Config.driver.simple.Session)

@import models.game.GameResponseStatus
@import controllers.game.routes.GamesRequestorController
@import controllers.quiz.derivative.DerivativeQuestionForm
@import controllers.game.GameRemoveQuestion
@import helper._
@import models.user.UserPimped
@import com.artclod.collection.PimpedOptionList
@import models.game.GameState.numberOfQuestions

@defining(gameState.game.requestorQuiz) { quizOp =>
@defining(quizOp.map(_.questions).dropOption) { questions =>
@defining(numberOfQuestions - questions.size) { numQuestionRemaining =>

@majorMinor("Create Game Quiz", tag.courseOpLink(gameState.game.course)) {
    <section class="primary-content">
        <h1>Create a Game Quiz</h1>

        @if(gameState.game.response == GameResponseStatus.accepted){
        You are now playing a game with @tag.name(gameState.game.requestee), and need to create a Quiz for them. <br>
        } else {
        You have requested to play with @tag.name(gameState.game.requestee) but they haven't yet replied. Please create a quiz, it will be waiting for them when they accept. <br>
        }

        @if(gameState.game.requesteeQuizDone){
        They have finished creating their quiz and are waiting for you to finish yours <br>
        }

        @for(quiz <- quizOp){
        <table>
            <th>Question</th> <th> Remove </th>
            @for(question <- questions){
                <tr>
                    <td> @question.display </td>
                    <td> @form(GamesRequestorController.removeQuestion(gameState.game.id), 'class -> "pure-form") {<input type="hidden" name="@GameRemoveQuestion.removeId" value="@question.id.v"> <input type="submit" class="pure-button" value="remove" > } </td>
                </tr>
            }
        </table>
        }

        @if(numQuestionRemaining == 0){
        <h4> Your quiz has all the questions it needs. You can finalize the quiz if you want. Or remove a question and add another if you don't like one.</h4>
        } else {
        <h4>Quizzes need @numberOfQuestions questions. Your quiz has @questions.size questions. You need to add @numQuestionRemaining more.</h4>

        <p>
            Enter a function (of x) that your partner will need to differentiate. When you are done hit "Save Question": <br>
            @mathml.mathmlEditor(editorName = "QUESTION", characterLimitOp=Some(40), callbackSuccessOp = Some("editorSuccess")) <br>
        </p>

        @form(GamesRequestorController.createQuestion(gameState.game.id), 'id -> "derivativeqForm", 'class -> "pure-form" ) {
            <input type="hidden" name="@DerivativeQuestionForm.mathML" id="derivativeQuestionMathML">
            <input type="hidden" name="@DerivativeQuestionForm.rawStr" id="derivativeQuestionRawStr">
            <input type="button" class="pure-button pure-button-primary" value="Save Question" onclick="formSubmit()">
        }

        <script>
        formSubmit = function() {
        if(QUESTION.valid){
            $("#derivativeQuestionMathML").val(QUESTION.mathML);
            $("#derivativeQuestionRawStr").val(QUESTION.rawStr);
            $("#derivativeqForm").submit();
        } else {
            alert("Sorry we couldn't create a questions since we couldn't understand your equation. Please try fixing it and resubmitting. There is a red astrix next to the input box if the system can't understand what you typed.")
        }
        }
        </script>
        }

        @if(numQuestionRemaining == 0){
        @form(GamesRequestorController.finalizeCreatedQuiz(gameState.game.id), 'class -> "pure-form") {
            <input type="submit" class="pure-button pure-button-primary" value="Finalize Quiz" >
        }
        } else {
        @mathml.mathmlScoring("editorSuccess", gameState.game.requesteeSkill)
        }
    </section>
}{  @* ===== Minor Content Here ==== *@
    @views.html.quiz.recentHistory(gameState.game.requestee)
}

}
}
}