@(courseOp: Option[models.organization.Course] = None)(implicit user: service.User, session: play.api.db.slick.Config.driver.simple.Session)

@import models.game.Games
@import models.user.UserPimped
@import views.html.tag.gameLink

@defining(courseOp match { case Some(course) => Games.activeAccepted(user.id, course.id); case None => Games.activeAccepted(user.id)}) { games =>

<section>
    @if(games.isEmpty){<h5>You are currently not in the middle of a game with anyone</h5>} else {<h5>You are in the middle of a game with</h5>
    <ul>
        @for(game <- games) {<li> @gameLink(game.otherPlayer(user).name, game) </li>}
    </ul>
    }
</section>

}
