@(action: play.api.mvc.Call, currentAnswer: Option[Either[models.quiz.answer.GraphMatchAnswer, models.quiz.answer.GraphMatchAnswer]])(link: Html)(implicit user: models.user.User, session: play.api.db.slick.Config.driver.simple.Session)

@import controllers.quiz.graphmatch.GraphMatchAnswerForm
@import models.quiz.question.GraphMatchQuestionWhich.{whichMin, whichMax}

<section>
    Select your answer, and then hit the submit button @tag.answerWarning()<br>

    @helper.form(action, 'id -> "tangentAnswerForm", 'class -> "pure-form") {
        <fieldset>
            <select name="@{GraphMatchAnswerForm.guessIndex}">
                @for(i <- whichMin to whichMax) {<option value="@i"> @i </option> }
            </select>
            <input type="submit" class="pure-button pure-button-primary" value="Submit">
            @link
        </fieldset>
    }

</section>
