@(name: String, skillLevel: Double)

@import controllers.quiz.QuestionsController.{partnerSkill, difficulty, correctPoints, incorrectPoints}
@import controllers.quiz.graphmatch.GraphMatchQuestionForm.{ function1, functionStr1, function2, functionStr2, function3, functionStr3, graphThis }

@views.html.quiz.scoringHints(name, skillLevel, "/question/difficulty/graphmatch"){
    {
        @function1    : GRAPH_MATCH_FUNCTION_1_QUESTION_FORM.mathML,
        @functionStr1 : GRAPH_MATCH_FUNCTION_1_QUESTION_FORM.rawStr,
        @function2    : GRAPH_MATCH_FUNCTION_2_QUESTION_FORM.mathML,
        @functionStr2 : GRAPH_MATCH_FUNCTION_2_QUESTION_FORM.rawStr,
        @function3    : GRAPH_MATCH_FUNCTION_3_QUESTION_FORM.mathML,
        @functionStr3 : GRAPH_MATCH_FUNCTION_3_QUESTION_FORM.rawStr,
        @graphThis    : parseInt($("input[name=@{graphThis}]:checked").val()),
        @partnerSkill : @skillLevel
    }
}{ GRAPH_MATCH_FUNCTION_1_QUESTION_FORM.valid && GRAPH_MATCH_FUNCTION_2_QUESTION_FORM.valid && GRAPH_MATCH_FUNCTION_3_QUESTION_FORM.valid }
