@(organization: models.organization.Organization, course: models.organization.Course)(implicit user: models.user.User, session: play.api.db.slick.Config.driver.simple.Session)

@import controllers.game.routes.GamesController
@import controllers.game.GameRequest
@import helper._

@defining(user.studentsToPlayWith(course.id)) { students =>

@mainWithBorder("Find a player for a game in course " + course.name,  views.html.tag.courseLink(course)) {

    <h1>Invite another player in the course @course.name to play a game round with you</h1>

    @if(students.isEmpty){
    <h5>There are currently no students available to play with in the course</h5>
    } else {
    <h5>Please select the player you want to play with (an invitation will be sent to them):</h5>

    @form(action = GamesController.requestGame(organization.id, course.id), 'class -> "pure-form") {
        @for(student <- students.zipWithIndex){
        <label for="player@student._2" class="pure-checkbox">
            <input id="player@student._2" type="radio" name="@GameRequest.requestee" value="@student._1.id.v"@if(student._2 == 0){checked}>
            @student._1.nameDisplay
        </label>
        }
	    <input type="submit" class="pure-button pure-button-primary" value="Submit">
    }
    }
}

}
