@(gameState: models.game.mask.GameMask)(implicit user: models.user.User, session: play.api.db.slick.Config.driver.simple.Session)

@import controllers.game._
@import helper._

@mainWithBorder("Game Requested", tag.courseOpLink(gameState.game.course)) {

    @gameState.game.requestor.nameView requested to play a game with you but you have not yet responded <br>

    @form(action = routes.GamesController.respond(gameState.game.id), 'class -> "pure-form") {
        <label for="accept" class="pure-radio">
            <input id="accept" type="radio" name="@GameResponse.response" value="true" checked>
            Accept Request
        </label>
        <label for="reject" class="pure-radio">
            <input id="reject" type="radio" name="@GameResponse.response" value="false">
            Reject Request
        </label>
        <input type="submit" class="pure-button pure-button-primary" value="Submit">
    }

}

