logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
/.cache
/bin
.DS_Store
local_environment_variables_use_postgres.sh
local_environment_variables_secure_social.sh
heroku_environment_variables.sh
/pgdumps