@(gameState: models.game.GameState with models.game.RequestorQuizFinished)(implicit user: service.User, session: play.api.db.slick.Config.driver.simple.Session)

@import controllers.game.routes.{GamesController, GamesRequesteeController}
@import helper._
@import models.user.UserPimped
@import models.game.GameResponseStatus
@import com.artclod.collection.PimpedOptionList

@defining(gameState.requestorQuiz) { quiz =>
@defining(quiz.results(user)) { quizResults =>

@main("Answering Quiz") {

    <h4>There are @quizResults.questions.size Question(s) in the quiz</h4>

    <table>
        <th>Question</th> <th>Details</th> <th>Status</th>
        @for(result <- quizResults.results){
            <tr>
                <td> @mathml.mathmlContent(result.question) </td>
                <td> [<a href="@GamesController.question(gameState.game.id, result.question.id)">answer</a>] </td>
                <td> @views.html.question.status(result.status) </td>
            </tr>
        }
    </table>

    @form(GamesRequesteeController.finalizeAnswers(gameState.game.id), 'class -> "inline-block") {<input type="submit" value="Finalize Answers" > }

}

}
}