@(gameState: models.game.GameState with models.game.RequestorQuiz)(implicit user: service.User, session: play.api.db.slick.Config.driver.simple.Session)

@import models.game.GameResponseStatus
@import controllers.game.routes.GamesRequestorController
@import controllers.game.GameCreateQuestion
@import controllers.game.GameRemoveQuestion
@import helper._
@import models.user.UserPimped
@import views.html.tag._
@import com.artclod.collection.PimpedOptionList
@import models.game.GameState.numberOfQuestions

@defining(gameState.game.requestorQuiz) { quizOp =>
@defining(quizOp.map(_.questions).dropOption) { questions =>
@defining(numberOfQuestions - questions.size) { numQuestionRemaining =>

@main("Create Game Quiz",  views.html.tag.courseOpLink(gameState.game.course, "[ ", " ]")) {

    @if(gameState.game.response == GameResponseStatus.accepted){
    You are now playing a game with @gameState.game.requestee.name <br>
    } else {
    You have requested to play with @gameState.game.requestee.name but they haven't yet replied <br>
    }

    @if(gameState.game.requesteeQuizDone){
    They have created finished their quiz and are waiting for you to finish yours <br>
    }

    @for(quiz <- quizOp){
    <table>
        <th>Question</th> <th> Remove </th>
        @for(question <- questions){
            <tr>
                <td> @mathml.mathmlContent(question) </td>
                <td> @form(GamesRequestorController.removeQuestion(gameState.game.id), 'class -> "inline-block") {<input type="hidden" name="@GameRemoveQuestion.removeId" value="@question.id.v"> <input type="submit" value="remove" > } </td>
            </tr>
        }
    </table>
    }

    @if(numQuestionRemaining == 0){
    <h4> Your quiz has all the questions it needs. You can finalize the quiz if you want. Or remove a question and add another if you don't like one.</h4>
    } else {
    <h4>Quizzes need @numberOfQuestions questions. Your quiz has @questions.size questions. You need to add @numQuestionRemaining more.</h4>

    <p>
        Type in an equation and press "Save Question": <br>
        @mathml.mathmlEditor(editorName = "QUESTION")
    </p>

    @form(GamesRequestorController.createQuestion(gameState.game.id), 'id -> "derivativeqForm" ) {
        <input type="hidden" name="@GameCreateQuestion.mathML" id="derivativeQuestionMathML">
        <input type="hidden" name="@GameCreateQuestion.rawStr" id="derivativeQuestionRawStr">
        <input type="button" value="Save Question" onclick="formSubmit()">
    }

    <script>
    formSubmit = function() {
    if(QUESTION.valid){
    $("#derivativeQuestionMathML").val(QUESTION.mathML);
    $("#derivativeQuestionRawStr").val(QUESTION.rawStr);
    $("#derivativeqForm").submit();
    } else {
    alert("Sorry we couldn't create a questions since we couldn't understand your equation. Please try fixing it and resubmitting. There is a red astrix next to the input box if the system can't understand what you typed.")
    }
    }
    </script>
    }

    @if(numQuestionRemaining == 0){
    @form(GamesRequestorController.finalizeCreatedQuiz(gameState.game.id), 'class -> "inline-block") {<input type="submit" value="Finalize Quiz" > }
    }

}

}
}
}