@(organization: models.organization.Organization, course: models.organization.Course)(implicit user: service.User, session: play.api.db.slick.Config.driver.simple.Session)

@import controllers.game.routes.GamesController
@import controllers.game.GameRequest
@import helper._
@import models.user.UserPimped

@defining(user.studentsToPlayWith(course.id)) { students =>

@mainWithBorder("Find a player for a game in course " + course.name,  views.html.tag.courseLink(course)) {

    <h1>Invite another player in the course @course.name to play a game round with you</h1>

    @if(students.isEmpty){
    <h5>There are currently no students available to play with in the course</h5>
    } else {
    <h5>Please select a player you want to play with:</h5>

    <p>an invitation will be sent to them.</p>

    @form(action = GamesController.requestGame(organization.id, course.id)) {
        @for(student <- students){<input type="radio" name="@GameRequest.requestee" value="@student.id.v"> @student.name <br>}
	    <input type="submit" value="Submit">
    }
    }
}

}
