@(gameState: models.game.GameState with models.game.RequestorDoneAnswering)(implicit user: service.User, session: play.api.db.slick.Config.driver.simple.Session)

@import controllers.game.routes.GamesController
@import controllers.game.GameRequest
@import helper._
@import models.user.UserPimped
@import models.organization.Courses

@mainWithBorder("Game Done", tag.courseOpLink(gameState.game.course)) {

    @if(!gameState.game.requesteeFinished){
    <h1>You have finished but @gameState.game.requestee.name still needs to finish your quiz.</h1>
    } else {
    <h1>Congratulations you finished a game with @gameState.game.requestee.name</h1>
    }

    @for(requesteeQuiz <- gameState.game.requesteeQuiz ) {
    <section class="extra-border">
        Your score as a student was @tag.percent(requesteeQuiz.studentScore(user)) <a class="pure-button" href="@GamesController.reviewQuiz(gameState.game.id, requesteeQuiz.id)">details</a>
    </section>
    }

    @for(requestorQuiz <- gameState.game.requestorQuizIfAnswered ) {
    <section class="extra-border">
        Your score as a teacher was @tag.percent(requestorQuiz.teacherScore(gameState.game.requestee, gameState.game.requesteeSkill)) <a class="pure-button" href="@GamesController.reviewQuiz(gameState.game.id, requestorQuiz.id)">details</a>
    </section>
    }

    <section class="extra-border">
    @for(course <- gameState.game.courseId.flatMap(Courses(_))){
    @form(action = GamesController.requestGame(course.organizationId, course.id), 'class -> "pure-form") {
        Play another round with @gameState.game.requestee.name
        <input type="hidden" name="@GameRequest.requestee" value="@gameState.game.requesteeId.v">
        <input type="submit" class="pure-button pure-button-primary" value="Play Again">
    }
    }
    </section>
}
