@(gameState: models.game.GameState with models.game.RequestorDoneAnswering)(implicit user: service.User, session: play.api.db.slick.Config.driver.simple.Session)

@import controllers.game.routes.GamesController
@import controllers.game.GameRequest
@import helper._
@import models.user.UserPimped
@import views.html.tag.percentDisplay

@main("Game Done",  views.html.tag.courseOpLink(gameState.game.course, "[ ", " ]")) {

    @if(!gameState.game.requesteeFinished){
    <h1>You have finished but @gameState.game.requestee.name still needs to finish your quiz.</h1>
    } else {
    <h1>Congratulations you finished a game with @gameState.game.requestee.name</h1>
    }

    @for(requesteeQuiz <- gameState.game.requesteeQuiz ) {
    <section>
        Your score as a student was @percentDisplay(requesteeQuiz.studentScore(user)) [<a href="@GamesController.reviewQuiz(gameState.game.id, requesteeQuiz.id)">details</a>]
    </section>
    }

    @for(requestorQuiz <- gameState.game.requestorQuiz ) {
    @defining(gameState.game.requestee) { requestee =>
    <section>
        Your score as a teacher was @percentDisplay(requestorQuiz.teacherScore(requestee, gameState.game.requesteeSkill)) [<a href="@GamesController.reviewQuiz(gameState.game.id, requestorQuiz.id)">details</a>]
    </section>
    }
    }
}
