@(courseOp: Option[models.organization.Course] = None)(implicit user: models.user.UserSetting, session: play.api.db.slick.Config.driver.simple.Session)

@import models.game.Games

@defining(courseOp match { case Some(course) => Games.activeAccepted(user.id, course.id); case None => Games.activeAccepted(user.id)}) { games =>

<section>
    <h5>Games in Progress</h5>
    @if(games.isEmpty){<h6>You are currently not in the middle of a game with anyone</h6>} else {<h6>You are in the middle of a game with</h6>
    <ul class="pure-list">
        @for(game <- games) {<li> @tag.gameLink(game.otherPlayer(user).n, game, 'class -> "button-xsmall") @tag.gameCourseLink(courseOp, game, 'class -> "button-xsmall")  </li>}
    </ul>
    }
</section>

}
