@(courseOp: Option[models.organization.Course] = None)(implicit user: service.User, session: play.api.db.slick.Config.driver.simple.Session)

@import models.game.Games
@import models.user.UserPimped
@import views.html.tag.gameLink

@defining(courseOp match { case Some(course) => Games.awaiting(user.id, course.id); case None => Games.awaiting(user.id)}) { games =>

<section>
    <h5>Awaiting Replies</h5>
    @if(games.isEmpty){<h6>You are not waiting for anyone to accept a request</h6>} else {<h6>You are waiting for the following players to accept a game</h6>
    <ul class="pure-list">
        @for(game <- games) {<li> @gameLink(game.otherPlayer(user).name, game) @tag.gameCourseLink(courseOp, game) </li>}
    </ul>
    }
</section>

}
