@(courseOp: Option[models.organization.Course] = None)(implicit user: service.User, session: play.api.db.slick.Config.driver.simple.Session)

@import models.game.Games
@import models.user.UserPimped
@import views.html.tag.{gameLink, datetime}

@defining(courseOp match { case Some(course) => Games.finished(user.id, course.id); case None => Games.finished(user.id)}) { games =>

<section>
    <h5>Completed Games</h5>
    @if(games.isEmpty){<h6>You don't have any completed games</h6>} else {<h6>You have completed games with the following players</h6>
    <ul>
        @for(game <- games) {<li> @gameLink(game.otherPlayer(user).name, game) on @datetime(game.finishedDate.get) @tag.gameCourseLink(courseOp, game)  </li>}
    </ul>
    }
</section>

}
