@(question: models.question.derivative.Question)(implicit session: play.api.db.slick.Config.driver.simple.Session)
@import com.artclod.play.s
@defining(question.answersAndOwners) { allAnswers =>
    <section>
        <h4>There have been @allAnswers.size Answer@s(allAnswers) to this question</h4>
        <table>
            <tr> <th> Last Name </th> <th> First Name </th> <th> Email </th> <th> Answer </th> <th> Correct </th> <th> Time </th> </tr>
            @for(answer <- allAnswers) {
                <tr>
                    <td> @answer._2.lastName </td>
                    <td> @answer._2.firstName </td>
                    <td> @answer._2.email </td>
                    <td> @mathml.mathmlContent(answer._1) </td>
                    <td> @mathml.correct(answer._1.correct) </td>
                    <td> @views.html.tag.datetime(answer._1.creationDate) </td>
                </tr>
            }
        </table>
    </section>
}