@(question: models.question.derivative.DerivativeQuestion)(implicit session: play.api.db.slick.Config.driver.simple.Session)

@import com.artclod.play.s
@import models.user.UserPimped

@defining(question.answersAndOwners) { allAnswers =>
<section>
    <h4>This question has been answered @allAnswers.size time@s(allAnswers)</h4>
    <table class="pure-table pure-table-striped">
        <tr> <th> User Name </th> <th> Answer </th> <th> Result </th> <th> Time </th> </tr>
        @for(answer <- allAnswers) {
        <tr>
            <td> @answer._2.name </td>
            <td> @mathml.mathmlDisplay(answer._1) </td>
            <td> @mathml.correct(answer._1.correct) </td>
            <td> @views.html.tag.datetime(answer._1.creationDate) </td>
        </tr>
        }
    </table>
</section>
}