@(name: String)

@defining(name.replaceAll("""[\[\]]""", "_")) { nameId : String =>
    <!-- ========= MARKUP EDITOR STARTS HERE ======= -->

    <textarea name="@{name}" id="@{nameId}" onchange="@{nameId}_helper.update(this.value)" oninput="@{nameId}_helper.update(this.value)"></textarea><span id="@{nameId}_div"></span>
    <script>
        var @{nameId}_helper = (function() {
            var result = {
                rawStr : "",
                markup : ""
            };

            var ajaxSuccess = function(data) {
                result.rawStr = data.markupStr;
                result.markupHtml = data.markupHtml;
                $("#@{nameId}_div").html(data.markupHtml);
            };

            result.update = _.debounce(function(markupStr) {
                $.ajax({
                    type : "POST",
                    url : "/question/markup",
                    dataType : "json",
                    data : JSON.stringify({ markupStr : markupStr }),
                    contentType: "application/json",
                    success : ajaxSuccess,
                    processData: false
                    });
                }, 300);

            return result;
        })();
    </script>

    <!-- ========= MARKUP EDITOR ENDS HERE ======= -->
}