@(name: String, markupStrOp: Option[String], rows: Int = 10, cols: Int = 60)

@defining(markupStrOp.flatMap(com.artclod.markup.MarkupParser(_).toOption)) { markupOp : Option[play.api.templates.Html] =>
@defining(name.replaceAll("""[\[\]]""", "_")) { nameId : String =>
    <!-- ========= MARKUP EDITOR STARTS HERE ======= -->
    <table>
        <tr>
        <td><textarea name="@{name}" id="@{nameId}" rows="@rows" cols="@cols" onchange="@{nameId}_helper.update(this.value)" oninput="@{nameId}_helper.update(this.value)" class="inline">@for(m <- markupStrOp){@m}</textarea></td>
        <td><span id="@{nameId}_rendered"> @if(markupOp.nonEmpty){@markupOp.get}else{(this area will updated when markup is input)} </span></td>
        </tr>
    </table>
    <span class="clearBoth"></span>

    <script>
        var @{nameId}_helper = (function() {
            var result = {
                markupStr : "",
                markup : ""
            };

            var ajaxSuccess = function(data) {
                // Store results for reference
                result.markupStr = data.markupStr;
                result.markupHtml = data.markupHtml;

                console.log("data.markupHtml");
                console.log(data.markupHtml);


//                var temp = data.markupHtml.replaceAll("\\n\\n", '\n');
//
//                console.log("temp");
//                console.log(temp);

                // replace the inner html (use jQuery so we handle scripts properly)
                $("#@{nameId}_rendered").html(data.markupHtml);
                //document.getElementById("@{nameId}_rendered").innerHTML = data.markupHtml;

                // Tell MathJax it needs to rerender
                var rendered = document.getElementById("@{nameId}_rendered");

                console.log("rendered");
                console.log(rendered);

                MathJax.Hub.Queue(["Typeset", MathJax.Hub, rendered]);
            };

            result.update = _.debounce(function(markupStr) {
                if(markupStr.trim() === "") {
                    ajaxSuccess( {rawStr : "(this area will updated when markup is input)", markupHtml : "(this area will updated when markup is input)" } )
                } else {
                    $.ajax({
                        type : "POST",
                        url : "/question/markup",
                        dataType : "json",
                        data : JSON.stringify({ markupStr : markupStr }),
                        contentType: "application/json",
                        success : ajaxSuccess,
                        processData: false
                    });
                }
            }, 300);

            return result;
        })();
    </script>

    <!-- ========= MARKUP EDITOR ENDS HERE ======= -->
}
}