@(sectionResults: List[viewsupport.organization.SectionResults])(implicit session: play.api.db.slick.Config.driver.simple.Session)

    <h4>Results by section</h4>

    @for(sectionResult <- sectionResults) {
        <h5>@sectionResult.section.name</h5>
        <table>
            <tr> <th> Last Name </th> <th> First Name </th> <th> Email </th> <th> # Questions </th> <th> # Correct </th> <th> # Attempted </th> </tr>
            @for(studentResult <- sectionResult.studentResults) {
                <tr>
                    <td> @studentResult.student.lastName </td>
                    <td> @studentResult.student.firstName </td>
                    <td> @studentResult.student.email </td>
                    <td> @studentResult.numQuestions </td>
                    <td> @studentResult.numCorrect </td>
                    <td> @studentResult.numAttempted </td>
                </tr>
            }
        </table>
    }