@(name: String, optionOne: (String, Html), optionsRest: (String, Html)*)

@defining( (optionOne +: optionsRest).zipWithIndex.map(v => (v._2, v._1._1, v._1._2)) ){ options =>

<script>
    var @{name}Update = function(button){
        var ids = @Html(options.map(v => name + v._1).mkString("['", "','", "']"))

        for(var i = 0; i < ids.length; i++) {
            var id = ids[i]
            var element = document.getElementById(id);
            if(button.value === id) { element.style.display='inline' }
            else { element.style.display='none' }
        }
    }
</script>
<form class="pure-form">
    <input type="radio" name="@name" value="@{name+0}" onclick="@{name}Update(this)" checked> @optionOne._1
    @for(option <- options.tail) {<input type="radio" name="@name" value="@{name + option._1}" onclick="@{name}Update(this)"> @option._2}
</form>
<br>

<div id="@{name + "0"}">
    @optionOne._2
</div>
@for(option <- options.tail) {
<div id="@{name + option._1}" style="display:none">
    @option._3
</div>
}

}