@(access: service.Access,
	course: models.organization.Course,
    quiz: models.quiz.Quiz,
    answerOp: Option[models.quiz.answer.DerivativeAnswer])(implicit user: models.user.User, session: play.api.db.slick.Config.driver.simple.Session)

@import controllers.quiz.routes.{ QuestionsController, QuizzesController}
@import controllers.quiz.QuizForm
@import helper._
@import com.artclod.play.{are, s}

@mainWithBorder("Quiz " + quiz.name, tag.courseLink(course)) {

    <h2>Welcome to the page for quiz: @quiz.name </h2>

    @if(access.write){
    @form(QuizzesController.rename(course.organizationId, course.id, quiz.id), 'class -> "pure-form") {
        To rename type a new name here <input type="text" name="@QuizForm.name" value="@quiz.name">
        and click <input class="pure-button" type="submit" value="rename" >
    }
    }

    @defining(quiz.results(user)){ results =>
    @defining(results.questions){ questions =>

    <h4>There @are(questions) @questions.size Question@s(questions) in the quiz @tag.icon("icon-help", 'data_ot -> "Click a question to answer it")</h4>

    <table class="pure-table pure-table-striped">
        <tr>
    	    <th>Question</th>
            <th>Status</th>
            @if(access.write){<th> Remove </th>}
        </tr>
        @for(result <- results.results){<tr>
            <td> <a class="pure-button" href="@QuestionsController.view(course.organizationId, course.id, quiz.id, result.question.id)"> @result.question.display </a> </td>
            <td> @tag.status(result.status) @tag.maybeIndicateCorrect(result.question, answerOp) </td>
            @if(access.write){<td> @form(QuestionsController.remove(course.organizationId, course.id, quiz.id, result.question.id), 'class -> "pure-form") { <input class="pure-button" type="submit" value="remove" > } </td> }
        </tr>}
    </table>
    }
    }

    @if(access.write){
    @views.html.quiz.derivative.questionEditor(QuestionsController.createDerivative(course.organizationId, course.id, quiz.id)){ <h4>Add a new Question</h4> Enter a function (of x) to differentiate. When you are done hit "Save Question": }

    @* LATER Add this back when tangent questions are ready @views.html.quiz.tangent.questionEditor(QuestionsController.createTangent(course.organizationId, course.id, quiz.id)){ <h4>Add a new Question</h4> Enter a function (of x) and a point to find the equation for the tangent line at. When you are done hit "Save Question": } *@

    @defining(quiz.results(course)) { quizResults =>
    <section>
        <h4>Summary of student results</h4>
        <ul>
        @for(result <- quizResults) {
            <li> @{result.student.name}'s score was @tag.percentOp(result.score)</li>
        }
        </ul>
    </section>
    }
    }

}
