@(course: models.organization.Course)(implicit user: service.User, session: play.api.db.slick.Config.driver.simple.Session)

@import controllers.question.routes.{QuizzesController}
@import controllers.question.{QuizForm}
@import helper._
@import views.html.tag._

    @mainWithBorder("Create a Quiz", tag.courseLink(course)) {

    <h2>Please enter the information about your quiz:</h2>

    <p>
        This quiz is for the course @courseLink(course)
    </p>

    @form(QuizzesController.createSubmit(course.organizationId, course.id), 'class -> "pure-form") {
        <fieldset>
            <label for="@QuizForm.name">Name: <input type="text" name="@QuizForm.name" value="quiz name"></label>
            <input type="submit" class="pure-button pure-button-primary" value="Submit">
        </fieldset>
    }

}
