@(game: models.game.Game, quiz: models.quiz.Quiz, teacher: models.user.User)(implicit user: models.user.User, session: play.api.db.slick.Config.driver.simple.Session)

@mainWithBorder("Student Game Score", tag.courseOpLink(game.course), tag.gameLink(Html("game"), game)) {

    <h2> Student Game Score @tag.icon("icon-help", 'data_ot -> "Players get two scores. One as a Student and one as a teacher. Your student score is based on how many questions you got right.")</h2>

    <section>
        You played a @tag.gameLink(Html("game"), game) with @teacher.nameView on @tag.datetimeOp(game.finishedDate)
    </section>

    <section>
        Your results for each question:<br>
        @defining(quiz.results(user)) { quizResults : models.quiz.QuizResults =>
        <table class="pure-table pure-table-striped extra-border">
            <tr>
                <th>question</th>
                <th>correct</th>
                <th>student points</th>
            </tr>
            @for(result <- quizResults.results) {
            <tr>
                <td> @result.question.display() </td>
                <td> @mathml.correct(result.correct) </td>
                <td> @models.quiz.question.QuestionScoring.pointsPerQuestion </td>
            </tr>
            }
        </table>

        @*Your score for this quiz: @views.html.quiz.quizScore(quizResults)<br>*@
        }
    </section>
}
