@(action: play.api.mvc.Call)(explanation: Html)(implicit user: models.user.User, session: play.api.db.slick.Config.driver.simple.Session)

@import helper._
@import controllers.quiz.derivative.DerivativeQuestionForm

<section>
    @explanation <br>

    @mathml.mathmlEditor(editorName = "DERIVATIVE_QUESTION", characterLimitOp=Some(40), mathParser = "CALC.mathJS.functionOfXParser")

    @form(action, 'id -> "derivativeQuestionForm", 'class -> "pure-form") {
        <fieldset>
            <input type="hidden" name="@DerivativeQuestionForm.function" id="derivativeQuestionMathML">
            <input type="hidden" name="@DerivativeQuestionForm.functionStr" id="derivativeQuestionRawStr">
            <input type="button" class="pure-button" value="Save Question" onclick="DERIVATIVE_QUESTION.formSubmit()">
        </fieldset>
    }

    <script>
    DERIVATIVE_QUESTION.formSubmit = function() {
        if(DERIVATIVE_QUESTION.valid){
            $("#derivativeQuestionMathML").val(DERIVATIVE_QUESTION.mathML);
            $("#derivativeQuestionRawStr").val(DERIVATIVE_QUESTION.rawStr);
            $("#derivativeQuestionForm").submit();
        } else {
            alert("Sorry we couldn't understand what you wrote. Please try changing it and resubmitting. There is a red icon next to the input box if the system can't understand what you typed.")
        }
    }
    </script>
</section>