@(action: play.api.mvc.Call, currentAnswer: Option[Either[models.quiz.answer.DerivativeGraphAnswer, models.quiz.answer.DerivativeGraphAnswer]])(link: Html)(implicit user: models.user.User, session: play.api.db.slick.Config.driver.simple.Session)

@import controllers.quiz.derivativegraph.DerivativeGraphAnswerForm

<section>
    Select your answer, and then hit the submit button @tag.answerWarning()<br>

    @helper.form(action, 'id -> "derivativeGraphAnswerForm", 'class -> "pure-form") {
        <fieldset>
            <select name="@{DerivativeGraphAnswerForm.derivativeOrder}">
                @for(derOrd <- models.quiz.question.support.DerivativeOrder.all){<option value="@derOrd.asString"> @derOrd.niceString </option>}
            </select>
            <input type="submit" class="pure-button pure-button-primary" value="Submit">
            @link
        </fieldset>
    }

</section>
