@(action: play.api.mvc.Call, derivativeGraphForm: Form[controllers.quiz.derivativegraph.DerivativeGraphQuestionForm], successCallback : List[String] = List(), infoOp: Option[Html] = None)(implicit user: models.user.User, session: play.api.db.slick.Config.driver.simple.Session)

@import helper._
@import controllers.quiz.derivativegraph.DerivativeGraphQuestionForm
@import models.quiz.question.support.FuncFirstSecond
@import models.quiz.question.support.DerivativeOrder
@import com.artclod.play.FormEnhanced
@import controllers.MathController
@import com.artclod.mathml.MathMLEq.tightRange

<section>
    Enter a function (of x) and the order in which you want the function, its first derivative and its second to be displayed. Try and have the function (and it's derivatives) display nicely in -@{tightRange} to @{tightRange} on both x and y. When you are done hit "Save Question": <br>

    @if(derivativeGraphForm.hasMessage(DerivativeGraphQuestionForm.rangeValid)){<span class="form-error"> We were unable to create your question since the range you specified is invalid. </span><br>}
    @if(derivativeGraphForm.hasMessage(DerivativeGraphQuestionForm.functionInvalid)){<span class="form-error"> Sorry we were unable to create your question since the function is undefined at too many points. </span><br>}
    @if(derivativeGraphForm.hasMessage(DerivativeGraphQuestionForm.functionsSame)){<span class="form-error"> Sorry we were unable to create your question since the function and at least one of its derivatives are the same. </span><br>}
    @if(derivativeGraphForm.hasMessage(DerivativeGraphQuestionForm.functionsDisplayNicely)){<span class="form-error"> Sorry we were unable to create your question since the function would not display in the graph area. </span><br>}

    Function: @mathml.mathmlEditor(editorName="DERIVATIVE_GRAPH_QUESTION_FORM", initialValue=derivativeGraphForm.dataFor(DerivativeGraphQuestionForm.functionStr), characterLimit=Some(40), mathParser = "CALC.mathJS.functionOfXParser", successCallback = "DERIVATIVE_GRAPH_QUESTION_UPDATE" :: successCallback) <br>

    @form(action, 'id -> "derivativeGraphQuestionForm", 'class -> "pure-form"){
    <fieldset>
        <input type="hidden" name="@DerivativeGraphQuestionForm.function"    id="derivativeGraphQuestionMathML">
        <input type="hidden" name="@DerivativeGraphQuestionForm.functionStr" id="derivativeGraphQuestionRawStr">

        @derivativeGraphForm.dataFor(DerivativeGraphQuestionForm.derivativeOrder)

        @defining(derivativeGraphForm.dataFor(DerivativeGraphQuestionForm.derivativeOrder).map(DerivativeOrder(_)).getOrElse(DerivativeOrder.random)) { selected : DerivativeOrder =>
        @for(order <- DerivativeOrder.all) {
        <label for="@order.asString" class="pure-radio">
            <input id="@order.asString" type="radio" name="@DerivativeGraphQuestionForm.derivativeOrder" value="@order.asString" @if(order == selected){checked} >
            @order.niceString
        </label>
        }
        }

        Display the Function formula, as well as the graph, when players are answering (this makes the question easier):
        <label for="showFunctionTrue"  class="pure-radio"> <input id="showFunctionTrue"  type="radio" name="@DerivativeGraphQuestionForm.showFunction" value="true"  @if(derivativeGraphForm.dataFor(DerivativeGraphQuestionForm.showFunction) == Some("true")){checked} @for(c <- successCallback){onchange="@{c}();"}> Yes </label>
        <label for="showFunctionFalse" class="pure-radio"> <input id="showFunctionFalse" type="radio" name="@DerivativeGraphQuestionForm.showFunction" value="false" @if(derivativeGraphForm.dataFor(DerivativeGraphQuestionForm.showFunction) != Some("true")){checked} @for(c <- successCallback){onchange="@{c}();"}> No </label>

        <input type="button" class="pure-button" value="Save Question" onclick="DERIVATIVE_GRAPH_QUESTION_FORM.formSubmit()">
    </fieldset>
    }

    @for(info <- infoOp){ @info }

    @mathml.graph("DERIVATIVE_GRAPH_QUESTION_GRAPHS_FUNCTION", titleOp = Some("Function"))
    @mathml.graph("DERIVATIVE_GRAPH_QUESTION_GRAPHS_FIRST_DERIVATIVE", titleOp = Some("First Derivative"))
    @mathml.graph("DERIVATIVE_GRAPH_QUESTION_GRAPHS_SECOND_DERIVATIVE", titleOp = Some("Second Derivative"))
    <br class="clearBoth" />

    <script>
        var DERIVATIVE_GRAPH_QUESTION_UPDATE = function(result){
            var ajaxData = {
                @MathController.functionStr : result.rawStr,
                @MathController.function : result.mathML
            };

            var ajaxSuccess = function( data ) {
                DERIVATIVE_GRAPH_QUESTION_GRAPHS_FUNCTION.setFunction( ARTC.mathJS.node2FunctionOfX(result.node) );

                var firstDerv = ARTC.mathJS.text2FunctionOfX(data.@{MathController.firstDerivative});
                DERIVATIVE_GRAPH_QUESTION_GRAPHS_FIRST_DERIVATIVE.setFunction( firstDerv );

                var secondDerv = ARTC.mathJS.text2FunctionOfX(data.@{MathController.secondDerivative});
                DERIVATIVE_GRAPH_QUESTION_GRAPHS_SECOND_DERIVATIVE.setFunction( secondDerv );
            };

            $.ajax({
                type : "POST",
                url : "/question/derivatives",
                dataType : "json",
                data : JSON.stringify(ajaxData),
                contentType: "application/json",
                success : ajaxSuccess,
                processData: false
                });
        }

        DERIVATIVE_GRAPH_QUESTION_FORM.formSubmit = function() {
            var ready = true;

            if(DERIVATIVE_GRAPH_QUESTION_FORM.valid){
                $("#derivativeGraphQuestionMathML").val(DERIVATIVE_GRAPH_QUESTION_FORM.mathML);
                $("#derivativeGraphQuestionRawStr").val(DERIVATIVE_GRAPH_QUESTION_FORM.rawStr);
            } else {
                ready = false;
                alert("Sorry we couldn't understand the function that you wrote. Please try changing it and resubmitting. There is a red icon next to the input box if the system can't understand what you typed.");
            }

            if(ready) {
                $("#derivativeGraphQuestionForm").submit();
            }
        }
    </script>
</section>