@(action: play.api.mvc.Call, derivativeGraphForm: Form[controllers.quiz.derivativegraph.DerivativeGraphQuestionForm], successCallback : List[String] = List())(implicit user: models.user.User, session: play.api.db.slick.Config.driver.simple.Session)

@import helper._
@import controllers.quiz.derivativegraph.DerivativeGraphQuestionForm
@import com.artclod.play.FormEnhanced
@import controllers.MathController

<section>
    Enter a function (of x) and the order in which you want the function, its first derivative and its second to be displayed. When you are done hit "Save Question": <br>

    @if(derivativeGraphForm.hasMessage(DerivativeGraphQuestionForm.rangeValid)){<span class="form-error"> We were unable to create your question since the range you specified is invalid. </span><br>}

    Function: @mathml.mathmlEditor(editorName="DERIVATIVE_GRAPH_QUESTION_EDITOR", initialValue=derivativeGraphForm.dataFor(DerivativeGraphQuestionForm.functionStr), characterLimit=Some(40), mathParser = "CALC.mathJS.functionOfXParser", successCallback = "DERIVATIVE_GRAPH_QUESTION_UPDATE" :: successCallback) <br>

    @form(action, 'id -> "derivativeGraphQuestionForm", 'class -> "pure-form") {
        <fieldset>
            <input type="hidden" name="@DerivativeGraphQuestionForm.function"    id="derivativeGraphQuestionMathML">
            <input type="hidden" name="@DerivativeGraphQuestionForm.functionStr" id="derivativeGraphQuestionRawStr">
            <input type="button" class="pure-button" value="Save Question" onclick="DERIVATIVE_GRAPH_QUESTION_FORM.formSubmit()">
        </fieldset>
    }
    <h5>Function</h5>
    @mathml.graph("DERIVATIVE_GRAPH_QUESTION_GRAPHS_FUNCTION") <br>
    <h5>First Derivative</h5>
    @mathml.graph("DERIVATIVE_GRAPH_QUESTION_GRAPHS_FIRST_DERIVATIVE") <br>
    <h5>Second Derivative</h5>
    @mathml.graph("DERIVATIVE_GRAPH_QUESTION_GRAPHS_SECOND_DERIVATIVE") <br>

    <script>
        var DERIVATIVE_GRAPH_QUESTION_UPDATE = function(result){
            var ajaxData = {
                @MathController.functionStr : result.rawStr,
                @MathController.function : result.mathML
            };

            var ajaxSuccess = function( data ) {
                DERIVATIVE_GRAPH_QUESTION_GRAPHS_FUNCTION.setFunction( ARTC.mathJS.node2FunctionOfX(result.node) );

                console.log(data.@{MathController.firstDerivative});
                var firstDerv = ARTC.mathJS.text2FunctionOfX(data.@{MathController.firstDerivative});
                console.log(firstDerv);
                DERIVATIVE_GRAPH_QUESTION_GRAPHS_FIRST_DERIVATIVE.setFunction( firstDerv );

                console.log(data.@{MathController.secondDerivative});
                var secondDerv = ARTC.mathJS.text2FunctionOfX(data.@{MathController.secondDerivative});
                console.log(secondDerv);
                DERIVATIVE_GRAPH_QUESTION_GRAPHS_SECOND_DERIVATIVE.setFunction( secondDerv );
            };

            $.ajax({
                type : "POST",
                url : "/question/derivatives",
                dataType : "json",
                data : JSON.stringify(ajaxData),
                contentType: "application/json",
                success : ajaxSuccess,
                processData: false
                });
        }

        var DERIVATIVE_GRAPH_QUESTION_FORM = {}
        DERIVATIVE_GRAPH_QUESTION_FORM.formSubmit = function() {
            var ready = true;

            if(DERIVATIVE_GRAPH_QUESTION_FORM.valid){
                $("#derivativeGraphQuestionMathML").val(DERIVATIVE_GRAPH_QUESTION_FORM.mathML);
                $("#derivativeGraphQuestionRawStr").val(DERIVATIVE_GRAPH_QUESTION_FORM.rawStr);
            } else {
                ready = false;
                alert("Sorry we couldn't understand the function that you wrote. Please try changing it and resubmitting. There is a red icon next to the input box if the system can't understand what you typed.");
            }

            if(ready) {
                $("#derivativeGraphQuestionForm").submit();
            }
        }
    </script>
</section>