@(name: String, skillLevel: Double)

@import controllers.quiz.QuestionsController.{partnerSkill, difficulty, correctPoints, incorrectPoints}
@import controllers.quiz.derivativegraph.DerivativeGraphQuestionForm.{function, functionStr, derivativeOrder, showFunction}


@views.html.quiz.scoringHints(name, skillLevel, "/question/difficulty/derivativegraph"){
    {
      @functionStr : DERIVATIVE_GRAPH_QUESTION_FORM.rawStr,
      @function : DERIVATIVE_GRAPH_QUESTION_FORM.mathML,
      @derivativeOrder : $("input[type='radio'][name='@derivativeOrder']:checked").val(),
      @showFunction : ($("input[type='radio'][name='@showFunction']:checked").val() === 'true'),
      @partnerSkill : @skillLevel
    }
}{ true }