@(assignment: models.organization.assignment.Assignment, section: models.organization.Section)(implicit user: service.User, session: scala.slick.session.Session)

@import views.html.tag._
@import controllers.organization.assignment.routes._

@main(assignment.name) {
    @defining(assignment.course) { course =>

        <h1>
            Welcome to the information page for the assignment: @assignment.name
        </h1>

        This assignment is for the Course: @courseLink(course) <br>
        And Section: @sectionLink(section) <br>

        @* ===== Start and end dates ===== *@
        @assignment.startAndEnd match {
            case (Some(start), Some(end)) => {This assignment starts on @start and ends on @end}
            case (Some(start), None) => {This assignment starts on @start}
            case (None, Some(end)) => {This assignment ends on @end}
            case (None, None) => {}
        }

        @* ===== Groups ===== *@
        @defining(section.groups(assignment.id)) { groups =>

            This section @if(groups.isEmpty) {has no groups} else {has the following groups:
                <ul>
                @for(group <- groups) {
                    <li> [ <a href="@GroupsController.view(course.id, section.id, assignment.id, group.id)">@group.name</a> ] </li>
                }
                </ul>
            }

            [ <a href="@GroupsController.add(course.id, section.id, assignment.id)">add a group</a> ]
        }
    }
}
