@(course: models.organization.Course, errors: Form[controllers.organization.assignment.AssignmentData])(implicit user: service.User, session: scala.slick.session.Session)

@import controllers.organization.assignment.AssignmentCreate
@import controllers.organization.assignment.routes._
@import helper._

@main("Add an assignment to " + course.name) {

    <h2>Welcome to the add a assignment page for the Course: @course.name</h2>

    <h5>Please enter the information for a new assignment:</h5>

    @form(action = AssignmentsController.create(course.id)) {
        name: <input type="text" name="@AssignmentCreate.name" value="assignment name"> @tag.error(errors.errors(AssignmentCreate.name)) <br>
        state date: <input type="date" name="@AssignmentCreate.start"> @tag.error(errors.errors(AssignmentCreate.start)) <br>
        end date: <input type="date" name="@AssignmentCreate.end"> @tag.error(errors.errors(AssignmentCreate.end)) <br>
        <input type="submit" value="Submit">
    }
}
