@(details: viewsupport.organization.assignment.AssignmentDetails,
        sectionGroups: List[viewsupport.organization.SectionGroupDetails])(implicit user: service.User)

@import views.html.tag._
@import controllers.organization.routes._

@main(details.assignment.name) {

    <h1>
        Welcome to the information page for the assignment: @details.assignment.name
    </h1>

    This assignment is for the Course: @courseLink(details.course)

    @* ===== Start and end dates ===== *@
    @details.assignment.startAndEnd match {
        case (Some(start), Some(end)) => {This assignment starts on @start and ends on @end}
        case (Some(start), None) => {This assignment starts on @start}
        case (None, Some(end)) => {This assignment ends on @end}
        case (None, None) => {}
    }
    @* ===== Groups ===== *@
    @if(sectionGroups.isEmpty) {there are no groups for this assignment} else {
        <ul>
        @for(sectionGroupDetails <- sectionGroups) {
            <li> Section [@sectionLink(sectionGroupDetails.section)] @if(sectionGroupDetails.groups.isEmpty) {has no groups} else {has the following groups} </li>

            @if(sectionGroupDetails.groups.nonEmpty) {
            <ul>
                @for(group <- sectionGroupDetails.groups) {<li> @group.name </li>}
            </ul>
            }
        }
        </ul>
    }
}
