@(course: models.organization.Course,
  section: models.organization.Section,
  assignment: models.organization.assignment.Assignment)(implicit user: service.User, session: scala.slick.session.Session)

@import controllers.organization.assignment.GroupCreate
@import helper._
@import controllers.organization.assignment.routes._
@import views.html.tag._

@main("Add a Group for " + section.name + " for the assignment " + assignment.name) {

    <h2>Welcome to the add a group page </h2>
    for Section: [ @sectionLink(section) ] <br>
    and Assignment: [ <a href="@AssignmentsController.viewSection(course.id, section.id, assignment.id)">@assignment.name</a> ] <br>

    <h5>Please enter the information for a new Group:</h5>

    @form(action = GroupsController.create(course.id, section.id, assignment.id)) {
        name: <input type="text" name="@GroupCreate.name" value="group name"> <br>
        <input type="submit" value="Submit">
    }
}
