@(group: models.organization.assignment.Group)(implicit user: service.User, session: play.api.db.slick.Config.driver.simple.Session)

@import service._
@import views.html.tag._
@import helper._
@import controllers.organization.assignment.routes._
@import controllers.organization.assignment.quiz.routes._
@import controllers.question.derivative.routes._

@defining(group.course){ course =>
@defining(group.section){ section =>
@defining(group.assignment){ assignment =>

@main(assignment.name) {

    <h2>
        Welcome to the information page for the group: @group.name
    </h2>

    for course [ @courseLink(course) ] <br>
    and section [ @sectionLink(section) ] <br>
    and assignment [ @assignmentLink(assignment) ] <br>

    @* ===== Start and end dates ===== *@
    @assignment.startAndEnd match {
        case (Some(start), Some(end)) => { This assignment starts on @start and ends on @end}
        case (Some(start), None) => { This assignment starts on @start}
        case (None, Some(end)) => { This assignment ends on @end}
        case (None, None) => {}
    }

    @defining(section.access) { access =>
        @* ===== Group Info ===== *@
        @if(access > Non) {
            @if(group.students.isEmpty) {Currently there are no students in this group} else { the following students are in this group:
                <ul>
                @for(student <- group.students) {
                    <li> @student.email </li>
                }
                </ul>
            }
        }

        @defining(group.enrolled) { enrolled =>
            @* ===== Joining the Group ===== *@
            @if(access > Non && !enrolled) {
                @form(action = GroupsController.join(course.id, section.id, assignment.id, group.id)) {
                    Join this group: <input type="submit" value="Join">
                }
            }
            @* ===== Quizzes for the group ===== *@
            @if(access > Non && enrolled) {

                @defining(group.quizzes) { quizzes =>
                    @if(quizzes.isEmpty) {There are no quizzes for this group yet<br>} else {The following quizzes are in this group:<br>
                        <ul>
                        @for(quiz <- group.quizzes) {
                            <li>[ @groupQuizLink(group, quiz) ]</li>
                        }
                        </ul>
                    }
                }

                @defining(group.quizFor(user)) { quizOp =>
                    @for(quiz <- quizOp) {
                        You created the quiz [ @groupQuizLink(group, quiz) ] <br>
                    } @if(quizOp.isEmpty) {
                        [ <a href="@GroupQuizzesController.add(course.id, section.id, assignment.id, group.id)"> Create your Quiz for this group ] <br>
                    }
                }
            }
        }
    }

}

}
}
}
