@(details: viewsupport.organization.assignment.AssignmentDetails,
        section: models.organization.Section,
        group: viewsupport.organization.assignment.GroupDetails)(implicit user: service.User)

@import controllers.organization.routes._
@import controllers.organization.assignment.routes._
@import service._
@import views.html.tag._
@import helper._
@import controllers.organization.assignment.routes._

@main(details.assignment.name) {

    <h2>
        Welcome to the information page for the group: @group.group.name
    </h2>

    for course [ @courseLink(details.course) ] <br>
    and section [ @sectionLink(section) ] <br>
    and assignment [ <a href="@AssignmentsController.viewSection(details.course.id, section.id, details.assignment.id)"> @details.assignment.name </a> ] <br>

    @* ===== Start and end dates ===== *@
    @details.assignment.startAndEnd match {
        case (Some(start), Some(end)) => { This assignment starts on @start and ends on @end}
        case (Some(start), None) => { This assignment starts on @start}
        case (None, Some(end)) => { This assignment ends on @end}
        case (None, None) => {}
    }

    @* ===== Group Info ===== *@
    @if(details.access > Non) {
        @if(group.students.isEmpty) {Currently there are no students in this group} else { the following students are in this group:
            <ul>
            @for(student <- group.students) {
                <li> @student.email </li>
            }
            </ul>
        }
    }

    @if(details.access > Non){
        @form(action = GroupsController.join(section.courseId, section.id, details.assignment.id, group.group.id)) {
            Join this group: <input type="submit" value="Join">
        }
    }

}
