@(action: play.api.mvc.Call, question: models.quiz.question.MultipleChoiceQuestion, currentAnswer: Option[Either[models.quiz.answer.MultipleChoiceAnswer, models.quiz.answer.MultipleChoiceAnswer]])(link: Html)(implicit user: models.user.User, session: play.api.db.slick.Config.driver.simple.Session)

@import controllers.quiz.multiplechoice.MultipleChoiceAnswerForm

<section>
    Select your answer, and then hit the submit button @tag.answerWarning()<br>

    @helper.form(action, 'id -> "tangentAnswerForm", 'class -> "pure-form") {
        <fieldset>

            <select name="@{MultipleChoiceAnswerForm.guessIndex}">
                @for(i <- (1 to question.answerOptions.size)) {<option value="@{i-1}"> @i </option> }
            </select>

            <input type="submit" class="pure-button pure-button-primary" value="Submit">
            @link
        </fieldset>
    }

</section>
