@(action: play.api.mvc.Call, graphMatchForm: Form[controllers.quiz.multiplechoice.MultipleChoiceQuestionForm], successCallback : List[String] = List(), infoOp: Option[Html] = None)(implicit user: models.user.User, session: play.api.db.slick.Config.driver.simple.Session)

@import helper._
@import controllers.quiz.multiplechoice.MultipleChoiceQuestionForm
@import com.artclod.play.FormEnhanced
@import controllers.MathController
@import com.artclod.mathml.MathMLEq.tightRange

<section>
    Enter a description of the problem, as well as descriptions for answers options. Then mark the correct answer and submit. <br>

    @if(graphMatchForm.hasErrors){ @for(error <- graphMatchForm.errors){<span class="form-error"> Error: @error.message </span><br>} }
    @if(graphMatchForm.hasMessage(MultipleChoiceQuestionForm.explanationInvalid)){<span class="form-error"> Sorry we were unable to create your question since the explanation was not valid markup. </span><br>}

    @form(action, 'id -> "multipleChoiceQuestionForm", 'class -> "pure-form"){
    <fieldset>

        <h4>Short Description</h4>
        <input id="@MultipleChoiceQuestionForm.description" name="@MultipleChoiceQuestionForm.description" type="text" size="40"/>

        <h4>Explanation</h4>

        <p>
        @tag.markupEditor(MultipleChoiceQuestionForm.explanation, graphMatchForm.dataFor(MultipleChoiceQuestionForm.explanation))
        </p>

        <h4>Answer Options</h4>
        <table class="pure-table pure-table-striped">
            <tr> <th> Option </th> <th> Details </th> <th> Correct </th>  </tr> @* TODO on error keep selection *@
            @for(i <- (0 to 5).zipWithIndex) { <tr> <td> Option @{i._1 + 1} </td> <td> @tag.markupEditor(MultipleChoiceQuestionForm.options + "[" + i._1 + "]", graphMatchForm.dataFor(MultipleChoiceQuestionForm.options + "[" + i._1 + "]"), 4, 30) </td> <td> <input type="radio" name="@MultipleChoiceQuestionForm.correct" value="@i._1" @if(i._2 == 0){checked}> </td> </tr> }
        </table>

        <h4>Difficulty</h4>
        <input type="number" min="1" max="300" step="1" value="1" size="6" name="@MultipleChoiceQuestionForm.difficulty" id="@MultipleChoiceQuestionForm.difficulty"> <br/><br/>

        <input type="button" class="pure-button" value="Save Question" onclick="MULTIPLE_CHOICE_QUESTION_FORM.formSubmit()">
    </fieldset>
    }

    @for(info <- infoOp){ @info }


    <script>

        var MULTIPLE_CHOICE_QUESTION_FORM = {}
        MULTIPLE_CHOICE_QUESTION_FORM.formSubmit = function() {
            var ready = true;

            if(true) {
                // noop for now
            } else {
                ready = false;
                alert("Sorry we couldn't understand one of the functions that you wrote. Please try changing it and resubmitting. There is a red icon next to the input box if the system can't understand what you typed.");
            }

            if(ready) {
                $("#multipleChoiceQuestionForm").submit();
            }
        }
    </script>
</section>