@(question: models.quiz.question.MultipleFunctionQuestion, currentAnswer: Option[Either[models.quiz.answer.MultipleFunctionAnswer, models.quiz.answer.MultipleFunctionAnswer]])(link: Html)(implicit user: models.user.User, session: play.api.db.slick.Config.driver.simple.Session)

@import controllers.quiz.multiplefunction.MultipleFunctionAnswerForm

@defining(question.answerOptions.size){ numOps : Int =>

<section>
    Select your answer, and then hit the submit button @tag.answerWarning()<br>

    <fieldset>

        @for(i <- (0 until numOps)) {
        <input type="hidden" name="@{MultipleFunctionAnswerForm.functionGuesses + "[" + i + "]"}" id="multipleFunctionGuessMathML@{i}">
        <input type="hidden" name="@{MultipleFunctionAnswerForm.functionGuessesStr + "[" + i + "]"}" id="multipleFunctionGuessRawStr@{i}">
        }

        <input type="button" class="pure-button pure-button-primary" value="Finish Answer" onclick="MULTIPLE_FUNCTION_ANSWER_FORM.formSubmit()">
        @link
    </fieldset>

        <script>
        var MULTIPLE_FUNCTION_ANSWER_FORM = {};
        MULTIPLE_FUNCTION_ANSWER_FORM.formSubmit = function () {
            var valid = true;

            @for(i <- (0 until numOps)) {
            if(MULTIPLE_FUNCTION_ANSWER_EDITOR_@{i}.valid) {
                $("#multipleFunctionGuessMathML@{i}").val(MULTIPLE_FUNCTION_ANSWER_EDITOR_@{i}.mathML);
                $("#multipleFunctionGuessRawStr@{i}").val(MULTIPLE_FUNCTION_ANSWER_EDITOR_@{i}.rawStr);
            } else {
                valid = false;
            }
            }

            if(valid){
                $("#multipleFunctionForm").submit();
            } else {
                alert("Sorry we couldn't understand your answer. Please try changing it and resubmitting. There is a red icon next to the input box if the system can't understand what you typed.")
                valid = true;
            }
        }
        </script>

</section>

}