@(question: models.quiz.question.MultipleFunctionQuestion, gameId: models.support.GameId)(implicit user: models.user.User, session: play.api.db.slick.Config.driver.simple.Session)

@import controllers.bank.routes.QuestionBankController
@import helper._
@import com.artclod.play.s

@mainWithBorder("Viewing Question", tag.bankLink(), tag.copyLink(question.id)) {

    <h4>Below is a multiple function question. Read the explanation and pick the correct answer:</h4>

    <section>
    @question.display(false)
    </section>
    <br>

    @tag.gameIdLink(Html("back to game"),gameId)


}
