@()(implicit user: service.User, session: play.api.db.slick.Config.driver.simple.Session)

@import models.organization.Courses
@import com.artclod.play.s
@import views.html.tag._
@import models.user.UserPimped
@import helper._

@defining(UserPimped(user).settings) { settings =>

@mainWithBorder("User Information") {

    <h1>Welcome to the EdTech Math Games Server</h1>

    <p>
        You are logged in as: @settings.name <br>
        You email is: @user.email
    </p>

    @defining(Courses(user.id)) { courses =>
    @if(courses.isEmpty){
    <h5> You are not signed up for any courses </h5>
    } else {
    <h5> Your are associated with the following course@s(courses):</h5>
    <ul class="pure-list">
        @for(course <- courses) {<li> @courseLink(course) </li>}
    </ul>
    }
    }

    @form(action = routes.Settings.toggleGameEmails, 'class -> "pure-form") {
        @if(settings.emailGameUpdates) {
            You are currently receiving emails on game updates <input class="pure-button" type="submit" value="Stop Game Emails">
        } else {
            You are not currently receiving emails on game updates <input class="pure-button" type="submit" value="Start Game Emails">
        }
    }

    @form(action = routes.Consent.revokeConsent, 'class -> "pure-form") {
        I no longer want to take part in this study <input class="pure-button" type="submit" value="Revoke Consent">
    }
}

}