@(course: models.organization.Course)(implicit user: service.User)

@import helper._
@import controllers.organization.AssignmentCreate
@import controllers.organization.routes._

@main("Add an assignment to " + course.name) {

    <h2>Welcome to the add a assignment page for the Course: @course.name</h2>

    <h5>Please enter the information for a new assignment:</h5>

    @form(action = AssignmentsController.create(course.id)) {

        name: <input type="text" name="@AssignmentCreate.name" value="assignment name"> <br>
        state date: <input type="date" name="@AssignmentCreate.start"> <br>
        end date: <input type="date" name="@AssignmentCreate.end"> <br>

        <input type="submit" value="Submit">
    }
}
