@(organization: models.organization.Organization, course: models.organization.Course)(implicit user: service.User, session: play.api.db.slick.Config.driver.simple.Session)

@import com.artclod.play._
@import helper._
@import service._
@import viewsupport.organization.AccessName.an
@import controllers.organization.CourseJoin
@import controllers.organization.routes.CoursesController
@import controllers.question.routes.QuizzesController
@import controllers.game.routes.GamesController

@mainWithStatus(course.name, tag.organizationLink(organization))(Some(course)) {
    <h2>Welcome to the information page for the course: @course.name</h2>
    @* ======= Role ======= *@
    @if(course.access > Non) {
    <section>
        <h5> You are assigned to this course as @an(course.access) </h5>
    </section>
    }
    @* ======= Access Codes ======= *@
    @if(course.access >= Edit) {
    <section>
        <h5> Teacher Access Code: @course.editCode </h5>
        <h5> Student Access Code: @course.viewCode </h5>
    </section>
    }
    @* ======= Sign up ======= *@
    @if(course.access <= Non) {
    <section>
        <h5> If you need to sign up please input your code here: </h5>
        @form(action = CoursesController.join(course.organizationId, course.id), 'class -> "pure-form") {
            <input type="text" name="@CourseJoin.code" placeholder="code goes here">
            <input type="submit" class="pure-button pure-button-primary" value="Submit">
        }
    </section>
    }

    @* >>>>> Start Access > Non *@
    @if(course.access > Non) {
        @if(course.name == "Pilot"){ @views.html.organization.pilotInfo()}

        @* ======= Quizzes ======= *@
        @defining(course.quizzes) { quizzes =>
        <section>
            @if(quizzes.isEmpty) {
                <h5> There are no quizzes for this course </h5>
            } else {
                <h5> The course has the following quiz@zes(quizzes): </h5>
                <ul class="pure-list">
                @for(quiz <- quizzes) {<li> @tag.courseQuizLink(course, quiz, None) </li> }
                </ul>
            }
            @if(course.access.write) { <a href="@QuizzesController.createForm(course.organizationId, course.id)" class="pure-button"> add a quiz</a> }
        </section>
        }
        @* ======= Start a Game ======= *@
        <section>
            <h5> Start a game with another student in the course </h5>
            <a href="@GamesController.findPlayer(course.organizationId, course.id)" class="pure-button">new game</a>
        </section>
        @* <<<<< Close Access > Non *@
    }
}

