@()(implicit user: service.User, session: scala.slick.session.Session)

@import helper._
@import controllers.organization.CourseCreate
@import controllers.organization.routes._
 
@main("Create a new Course") {
    
    <h1>Welcome to the create course page</h1>
    
    <h5>Please enter the information about your course:</h5>
    
    @form(action = CoursesController.create) {
		Name: <input type="text" name="@CourseCreate.name" value="course name"> <br>
	    <input type="submit" value="Submit">
    }
    
}
