@(organization: models.organization.Organization, course: models.organization.Course)(implicit user: service.User, session: play.api.db.slick.Config.driver.simple.Session)

@import com.artclod.play._
@import helper._
@import service._
@import views.html.tag._
@import viewsupport.organization.AccessName.an
@import models.user.UserPimped
@import controllers.organization.CourseJoin
@import controllers.organization.routes.CoursesController
@import controllers.question.derivative.routes.QuizzesController
@import controllers.game.routes.GamesController

@main(course.name) {
    <h2>Welcome to the information page for the course: @course.name</h2>
    @* ======= Role ======= *@
    @if(course.access > Non) {
    <section>
        <h5> You are assigned to this course as @an(course.access) </h5>
    </section>
    }
    @* ======= Access Codes ======= *@
    @if(course.access >= Edit) {
    <section>
        <h5> Teacher Access Code: @course.editCode </h5>
        <h5> Student Access Code: @course.viewCode </h5>
    </section>
    }
    @* ======= Sign up ======= *@
    @if(course.access <= Non) {
    <section>
        <h5> If you need to sign up please input your code here: </h5>
        @form(action = CoursesController.join(course.organizationId, course.id)) {
            <input type="text" name="@CourseJoin.code" placeholder="code goes here"> <br>
            <input type="submit" value="Submit">
            }
    </section>
    }

    @* >>>>> Start Access > Non *@
    @if(course.access > Non) {

    @* ======= Quizzes ======= *@
    @defining(course.quizzes) { quizzes =>
    <section>
        @if(quizzes.isEmpty) {
        <h5> There are no quizzes for this course </h5>
        } else {
        <h5> The course has the following quiz@zes(quizzes): </h5>
        <ul>
            @for(quiz <- quizzes) { <li> [ <a href="@QuizzesController.view(course.organizationId, course.id, quiz.id)">@quiz.name</a> ] </li>}
        </ul>
        }
         @if(course.access.write) { [ <a href="@QuizzesController.createForm(course.organizationId, course.id)"> add a quiz</a> ] }
    </section>
    }
    @* ======= Start a Game ======= *@
    <section>
        <h5> Start a game with another student in the course </h5>
        [ <a href="@GamesController.findPlayer(course.organizationId, course.id)">new game</a> ]
    </section>
    @* ======= Course Game Requests ======= *@
    @defining(user.gameRequests(course.id)) { requests =>
    @if(requests.nonEmpty) {
    <section>
        <h5> The Following users have requested to play a game with you</h5>
        <ul>
        @for(request <- requests) {
            <li>[ <a href="@GamesController.game(organization.id, course.id, request.id)">@request.requestor.name</a> ]</li>
        }
        </ul>
    </section>
    }
    }

    @defining(user.activeGames(course.id)) { games =>
    @if(games.nonEmpty) {
    <section>
        <h5> You are currently playing a game with the following users </h5>
        <ul>
        @for(game <- games) {
            <li>[ <a href="@GamesController.game(organization.id, course.id, game.id)">@game.otherPlayer(user).name</a> ]</li>
        }
        </ul>
    </section>
    }
    }

    @defining(user.finishedGames(course.id)) { games =>
    @if(games.nonEmpty) {
    <section>
        <h5> You have completed the following games </h5>
        <ul>
        @for(game <- games) {
            <li>[ <a href="@GamesController.game(organization.id, course.id, game.id)">@game.otherPlayer(user).name</a> ]</li>
        }
        </ul>
    </section>
    }
    }

    } @* <<<<< Close Access > Non *@
}

