@(courses: List[CourseDetails])(implicit user: service.User)

@import controllers.organization.routes._
@import service._
 
@main("Course Catalog") {
    
    <h2> Welcome to the EdTech Course Catalog </h2>
    
    <h5> Here are the list of couses and sections </h5>
    click on a course or section for more info (or to join it)
    
    <ul>
    @for(course <- courses){
    	<li> 
    		<a href=@CoursesController.view(course.c.id)>@course.c.name</a> 
    		@if(course.a != Non){ Access: @AccessName(course.a) } 
    	</li>
    
    	@if(course.sections.nonEmpty){
	        <ul>
	        @for(s <- course.sections){ 
	            <li> 
	            	<a href=@SectionsController.view(s.section.courseId, s.section.id)> @s.section.name </a> 
	            	@if(s.a != Non){ <Access: @AccessName(s.a)  > }
	            </li>
	        }
	        </ul>
        }
    }
    </ul>
    
}
