@(courses: List[CourseDetails])(implicit user: service.User)

@import helper._
@import controllers.organization.routes._
 
@main("List of Courses") {
    
    <h2>Welcome to the EdTech Course Catalog</h1>
    
    <ul>
    @for(course <- courses){
    	<li> 
    		course: <a href=@CoursesController.view(course.c.id)>@course.c.name</a>
    		@if(course.a.write){ [ <a href=@SectionsController.add(course.c.id)>add a section</a> ] }
    		sections: 
    	</li>
    
        <ul>
        @for(section <- course.sections){ 
            <li>       
			@section.s.name
			@if(!course.a.read){
            	@form(action = SectionsController.enroll(course.c.id, section.s.id)) { 
            		<input type="submit" value="Enroll"> 
            	}
            }
            </li>
        }
        </ul>
    }
    </ul>
    
}
