@()(implicit user: service.User, session: play.api.db.slick.Config.driver.simple.Session)

Thanks for agreeing to participate in the CalcTutor FACE OFF Tournament. Please take the following steps:

<ol>
    <li>Start by taking the "Pre-test Derivative Quiz"</li>
    <li>Play as many games as you like until Jan 31st 2015 (to start a game click the "new game" button below)</li>
    <li>When you decide your done take the "Post-test Derivative Quiz"</li>
    <li>Finish by letting us know what you think by taking this <a class="pure-button" href="https://docs.google.com/a/brandeis.edu/forms/d/1CtD0PFq9izyAxI8_q8K5tub4q_uOxFTBG7izh6MK75o/viewform">survey</a></li>
</ol>

If you take the pre/post test and play at least 3 games before Jan 31st 2015 you will be entered into the raffle to win a $15 Amazon Gift Card.
Additionally you can also win a gift card by getting first or second place in any of the following categories:

<ul>
    <li>Highest Student Skill Level</li>
    <li>Most Games Played</li>
    <li>Most Unique People Played</li>
    <li>Highest Total Student Score</li>
    <li>Highest Total Teacher Score</li>
</ul>

You can see the current high scores on the <a href="@controllers.tournament.routes.TournamentsController.leaderBoard" class="pure-button">Leader Board</a>