@()(implicit user: models.user.User, session: play.api.db.slick.Config.driver.simple.Session)

Welcome to the Math 10A CalcTutor course, please take the follow steps to complete the homework assignment:

<ol>
    <li>Start by taking the "Pre-quiz"</li>
    <li>Play three game rounds (click the "new game" button below, or check the panel to the right to see if someone has already requested to play with you)</li>
    <li>Then take the "Post-quiz"</li>
    <li>Finish by letting us know what you think by taking this <a class="pure-button" href="http://goo.gl/forms/hIUVrAbfXW">survey</a></li>
</ol>
