@(organization: models.organization.Organization)(implicit user: models.user.UserFull, session: play.api.db.slick.Config.driver.simple.Session)

@import com.artclod.play._
@import views.html.tag._

@defining(organization.courses) { courses =>

@mainWithStatus(organization.name)(None) {
    <h2>Welcome to the information page for the organization: @organization.name</h2>

    <h3>The following course@s(courses) @are(courses) available:</h3>

    @if(courses.isEmpty) {
    There are currently no available courses
    } else {
    <ul class="pure-list">
         @for(course <- courses){<li> @courseAccessLink(course) </li>}
    </ul>}
}

}