@(organization: models.organization.Organization)(implicit user: service.User, session: play.api.db.slick.Config.driver.simple.Session)

@import com.artclod.play.s
@import com.artclod.play.plural
@import helper._
@import service._
@import views.html.tag._
@import viewsupport.organization._
@import controllers.organization.CourseJoin
@import controllers.organization.routes._
@import controllers.question.derivative.routes._

@main(organization.name) {
    <h2>Welcome to the information page for the organization: @organization.name</h2>
}
