@()(implicit user: models.user.UserSetting, session: play.api.db.slick.Config.driver.simple.Session)

Thanks for agreeing to participate in this pilot study of the CalcTutor. Please take the following steps:

<ol>
    <li>Start by taking the "Pre-test Derivative Quiz"</li>
    <li>Start a game (click the "new game" button below) and play three rounds with another player</li>
    <li>Then take the "Post-test Derivative Quiz"</li>
    <li>Finish by letting us know what you think by taking this <a class="pure-button" href="https://docs.google.com/a/brandeis.edu/forms/d/1CtD0PFq9izyAxI8_q8K5tub4q_uOxFTBG7izh6MK75o/viewform">survey</a></li>
</ol>
