@(course: Course)

@import helper._
@import controllers.organization.SectionForm
 
@main("Adding a secton to " + course.name) {
    
    <h2>Please enter the information for a new secton for the Course: @course.name</h1>
    
    @form(action = controllers.organization.routes.SectionsController.create(course.id)) {

		<h4>Type the name of the Section here</h4> <br>
    	
    	<input type="text" name="@SectionForm.name" value="section name"> <br>
    
	    <input type="submit" value="Submit">
    }
}
