@(sections: List[(Course, Section)])

@import helper._
 
@main("List of Courses") {
    
    <h2>Welcome to the EdTech Course Catalog</h1>
    
    <p>
    	Select the course you would like to take.
    </p>
    
    <ul>
        @sections.map { section =>
            <li>             
            @form(action = controllers.organization.routes.SectionsController.enroll(section._1.id, section._2.id)) {
            	course: @section._1.name section: @section._2.name <input type="submit" value="Submit">
            }
            </li>
        }
    </ul>
    
}
