@(section: models.organization.Section)(implicit user: service.User, session: play.api.db.slick.Config.driver.simple.Session)

@import com.artclod.play.s
@import com.artclod.play.plural
@import controllers.organization.routes._
@import controllers.organization.assignment.routes._
@import controllers.organization.CourseJoin
@import controllers.question.derivative.routes._
@import viewsupport.organization.AccessName
@import service._
@import helper._

@main(section.name) {
    @defining(section.course) { course => @defining(section.access) { access =>

    <h2> Welcome to the information page for the section: @section.name </h2>
    of course [ <a href="@CoursesController.view(course.id)">@course.name</a> ]
    @* ======= Role ======= *@
    @if(access > Non){
    	<section> <h5> You are assigned to this section as a(n): @AccessName(access) </h5> </section>
    }
    @* ======= Access Codes ======= *@
    @if(access == Own){
    	<section>
    	<h5> Teacher Access Code: @section.editCode </h5>
    	<h5> Student Access Code: @section.viewCode </h5>
    	</section>
    }
    @* ======= Sign up ======= *@
    @if(access == Non){
		<section>
    	<h5> To join the section enter your access code here: </h5>
    	 @form(action = SectionsController.join(course.id, section.id)) {
			<input type="text" name="@CourseJoin.code" placeholder="code goes here"> <br>
		    <input type="submit" value="Submit">
    	}
    	</section>
    }
    @* ======= Assignments ======= *@
    @if(access > Non) {
        <section>
            @defining(section.assignments) { assignments =>
                @if(assignments.isEmpty) {
                    <h5> There are no assignments for this section </h5>
                } else {
                    <h5> The section has the following assignment@s(assignments): </h5>
                    <ul>
                    @for(assignment <- assignments) {
                        <li> [ <a href="@AssignmentsController.view(course.id, assignment.id)"> @assignment.name </a> ] </li>
                    }
                    </ul>
                }
            }
            @if(access.write) { [ <a href="@AssignmentsController.add(course.id)">add an assignment</a> ] }
        </section>
    }
    @* ======= Quizzes ======= *@
    @if(access > Non) {
        <section>
            @defining(section.quizzes) { quizzes =>
                @if(quizzes.isEmpty) {
                    <h5> There are no quizzes for this section </h5>
                } else {
                    <h5> The section has the following quiz@plural(quizzes){zes}: </h5>
                    <ul>
                    @for(quiz <- quizzes) {
                        <li> [ <a href="@QuizzesController.view(quiz.id, course.id)">@quiz.name</a> ] </li>
                    }
                    </ul>
                }
            }
            @if(access.write) { [ <a href="@QuizzesController.add(course.id)">add a quiz</a> ] }
        </section>
    }

    }}
}
