@(course: models.organization.Course)(implicit user: service.User, session: scala.slick.session.Session)

@import helper._
@import controllers.organization.SectionCreate
@import controllers.organization.routes._
 
@main("Add a section to " + course.name) {

    <h2>Welcome to the add a section page for the Course: @course.name</h2>
    
    <h5>Please enter the information for a new section:</h5>
    
    @form(action = SectionsController.create(course.id)) {

		name: <input type="text" name="@SectionCreate.name" value="section name"> <br>
    
	    <input type="submit" value="Submit">
    }
}
