@(course: models.organization.Course,
  quiz: models.question.Quiz,
  results: models.question.derivative.result.QuestionResults,
  currentAnswer: Option[Either[models.question.derivative.DerivativeAnswer, models.question.derivative.DerivativeAnswer]])(implicit user: service.User, session: play.api.db.slick.Config.driver.simple.Session)

@import helper._
@import controllers.question.derivative.AnswerForm
@import controllers.question.derivative.routes._
@import com.artclod.play.s

@defining(quiz.access){ access =>

@mainWithBorder("Question Page", tag.courseLink(course), tag.courseQuizLink(course, quiz, None)) {
    <h2>Welcome to a question page for quiz: @quiz.name </h2>

    <h4>What is the Derivative of:</h4>

    @mathml.mathmlDisplay(results.question)

    @for(answerEither <- currentAnswer) {
        <section align="center">
            <h4>
            @answerEither match {
                case Right(answer) => {You answered @mathml.mathmlDisplay(answer) that answer was @mathml.correct(answer.correct)}
                case Left(answerTmp) => {You answered @mathml.mathmlDisplay(answerTmp) Sorry but the system was unable to determine if that answer was correct :( please try another answer}
            }
            </h4>
        </section>
    }

    <section>
        <p>
            Type in your answer, and then hit the submit button @tag.answerWarning()<br>
            @mathml.mathmlEditor("ANSWER", viewsupport.organization.mathMLStr(currentAnswer)) <br>
        </p>
    </section>

    <section>
        @form(AnswersController.create(course.organizationId, course.id, quiz.id, results.question.id), 'id -> "answerForm", 'class -> "pure-form") {
            <fieldset>
                <input type="hidden" name="@AnswerForm.mathML" id="answerMathML">
                <input type="hidden" name="@AnswerForm.rawStr" id="answerRawStr">
                <input type="button" class="pure-button pure-button-primary" value="Submit" onclick="answerFormSubmit()">
                @tag.courseQuizLink(course, quiz, Some("Back to Quiz"))
            </fieldset>
        }
    </section>

    <script>
    var answerFormSubmit = function ( ) {
        if ( ANSWER.valid ) {
            $ ( "#answerMathML" ).val ( ANSWER.mathML ) ;
            $ ( "#answerRawStr" ).val ( ANSWER.rawStr ) ;
            $ ( "#answerForm" ).submit ( ) ;
        } else {
            alert("Sorry we couldn't understand your answer. Please try changing it and resubmitting. There is a red icon next to the input box if the system can't understand what you typed.")
        }
    }
    </script>

    @* ===== Results ===== *@
    @if(results.answers.nonEmpty) {
        <section>
            <h4>You answered this question @results.answers.size time@s(results.answers)</h4>
            @if(results.answers.nonEmpty) {
            <table class="pure-table pure-table-striped">
                <tr>
                    <th>Answer</th>
                    <th>Result</th>
                </tr>
                @for(answer <- results.answers) {
                <tr>
                    <td>@mathml.mathmlDisplay(answer)</td>
                    <td>@mathml.correct(answer.correct)</td>
                </tr>
                }
            </table>
            }
        </section>
    }

    @if(access.write) {
        @tag.allAnswers(results.question)
    }
}

}