@(access: service.Access, 
	course: Option[Course], 
	quiz: derivative.Quiz,
	results : derivative.view.QuestionResults,
	currentAnswer: Option[Either[derivative.AnswerTmp, derivative.Answer]], 
	nextQuestion: Option[derivative.Question],
	allAnswers: List[(derivative.Answer, service.User)])(implicit user: service.User)

@import helper._
@import controllers.organization.routes._
@import controllers.question.derivative._ 
 
@main("Question Page") {

	<h2>Welcome to a question page for quiz: @quiz.name </h1>

   @for(c <- course){ <h5> This is a question for the course <a href=@CoursesController.view(c.id)>@c.name</a> </h5> }
    
    <div>
    	<a href="@routes.QuizzesController.view(quiz.id, course.map(_.id))"> Back to the quiz "@quiz.name" </a>
    </div>
    
    <div>
    	<p>
	    <h2>What is the Derivative of</h2>
    	@math.mathmlContent(results.question)
		</p>
	</div>
	
	@for(answerEither <- currentAnswer){
		<div align="center">
		<h4>
		@answerEither match {
			case Right(answer) => { You answered @math.mathmlContent(answer) that answer was @math.correct(answer.correct) }
			case Left(answerTmp) => { You answered @math.mathmlContent(answerTmp) Sorry but the system was undable to determine if that answer was correct :( please try another answer }
		}
		<h4>
		</div>
	}	
    
    <div>
    	<p>
		Type in your answer, and then hit the submit button <br> 
		@math.mathmlEditor("ANSWER") <br>
		</p>
	</div>
	
	<div>
	@form(routes.AnswersController.create(quiz.id, results.question.id, course.map(_.id)) , 'id -> "answerForm" ) {
    	<input type="hidden" name="@AnswerForm.mathML" id="answerMathML">
    	<input type="hidden" name="@AnswerForm.rawStr" id="answerRawStr">
    	<input type="button" value="Submit" onclick="answerFormSubmit()">
    }
    </div>
	
	<script>
	var answerFormSubmit = function() {
		if(ANSWER.valid){
			$("#answerMathML").val(ANSWER.mathML);
			$("#answerRawStr").val(ANSWER.rawStr);
			$("#answerForm").submit();
		}
		// TODO indicated that the form did not submit
	}
    </script>
    
    @for(next <- nextQuestion){
    	[<a href=@routes.QuestionsController.view(quiz.id, next.id, course.map(_.id))>next question</a>]
    }
	
	@if(results.answers.nonEmpty){
		<h4>You have answered this questions @results.answers.size time(s)</h4>
	    <ul>
	    @for(answer <- results.answers){
	        <li> @math.mathmlContent(answer) this answer was @math.correct(answer.correct) </li>
	    }
	    </ul>
    }
	
	@if(access.write){
		<h4>There have been @allAnswers.size Answer(s) to this question</h4>
		<table>
			<tr> <th> Last Name </th> <th> First Name </th> <th> Email </th> <th> Answer </th> <th> Correct </th> </tr>
		    @for(answer <- allAnswers){
		    <tr>
		    	<td> @answer._2.lastName </td>
		    	<td> @answer._2.firstName </td>
		    	<td> @answer._2.email </td>
		    	<td> @math.mathmlContent(answer._1) </td>
		    	<td> @math.correct(answer._1.correct) </td>
		    </tr>
		    }
	    </table>
    }
}
