@(where: Either[models.organization.Course, models.organization.assignment.Group])(implicit user: service.User, session: scala.slick.session.Session)

@import com.artclod.util._
@import models.support._
@import helper._
@import views.html.tag._
@import controllers.question.derivative.QuizForm
@import controllers.question.derivative.routes.QuizzesController
@import controllers.organization.routes._
@import controllers.organization.assignment.routes.GroupsController

@defining(models.organization.courseFrom(where)){ course =>
@main("Create a Quiz") {

    <h2>Please enter the information about your quiz:</h2>

    This quiz is for the course [ @courseLink(course) ] <br>

    @for(group <- where.rightOp){ And the group [ <a href="@GroupsController.view(course.id, group.sectionId, group.assignmentId, group.id)"> @group.name </a> ] <br> }

    @form(action = QuizzesController.create(where.leftOp(_.id), where.rightOp(_.id))) {
        Name: <input type="text" name="@QuizForm.name" value="quiz name"> <br>
        <input type="submit" value="Submit">
    }

}
}
