@(access: service.Access, 
	course: Option[Course], 
	quizResults: derivative.view.UserQuizResults,
	sectionResultsOp: Option[List[SectionResults]])(implicit user: service.User)

@import helper._
@import controllers.organization.routes._
@import controllers.question.derivative._ 
@import controllers.question.derivative.QuizForm 
 
@main("Quiz " + quizResults.quiz.name) {
    
    <h2>Welcome to the page for quiz: @quizResults.quiz.name </h1>
    
    @for(c <- course){ <h5> This is a quiz for the course <a href=@CoursesController.view(c.id)>@c.name</a> </h5> }
    
    @if(access.write){
    	@form(routes.QuizzesController.rename(quizResults.quiz.id, course.map(_.id)), 'class -> "inline-block") {
     		To rename type a new name here <input type="text" name="@QuizForm.name" value="@quizResults.quiz.name"> 
    		and click <input type="submit" value="rename" > 
    	} 
    }
    
    <h4>There are @quizResults.questions.size Question(s) in the quiz</h4>
    
    <ul>
        @for(question <- quizResults.questions){
            <li>
            	@math.mathmlContent(question) 
            	[<a href=@routes.QuestionsController.view(quizResults.quiz.id, question.id, course.map(_.id))>view</a>]
                @if(access.write){ 
                	@form(routes.QuestionsController.remove(quizResults.quiz.id, question.id, course.map(_.id)), 'class -> "inline-block") { <input type="submit" value="remove" > } 
                }
            </li>
        }
    </ul>
    
    @if(access.write){
	    <h4>Add a new Question</h4>
	    
	    <p>
			Type in an equation and press "Save Question": <br> 
			Currently equations can only contain numbers, the variable X, parentheses, and basic functions (+, -, *, /, ^, exp(base,pow), log(base,pow) or log_base(pow), ln, sin, cos, tan) <br> 
			@math.mathmlEditor("QUESTION")
		</p>
	
	    @form(routes.QuestionsController.create(quizResults.quiz.id, course.map(_.id)), 'id -> "derivativeqForm" ) {
	    	<input type="hidden" name="@QuestionForm.mathML" id="derivativeQuestionMathML">
	    	<input type="hidden" name="@QuestionForm.rawStr" id="derivativeQuestionRawStr">
	    	<input type="button" value="Save Question" onclick="formSubmit()">
	    }
	    
	    <script>
		formSubmit = function() {
			if(QUESTION.valid){
				$("#derivativeQuestionMathML").val(QUESTION.mathML);
				$("#derivativeQuestionRawStr").val(QUESTION.rawStr);
				$("#derivativeqForm").submit();
			}
			// TODO indicated that the form did not submit
	    }
	    </script>
    }
    
    @for(sectionResults <- sectionResultsOp){
    <h4>Results by section</h4>
    	
		@for(sectionResult <- sectionResults) {
		<h5>@sectionResult.section.name</h5>
		<table>
			<tr> <th> Student </th> <th> # Questions </th> <th> # Correct </th> <th> # Attempted </th> </tr>
			@for(studentResult <- sectionResult.studentResults) {
			<tr> 
				<td> @studentResult.user.email </td>
				<td> @studentResult.numQuestions </td>
				<td> @studentResult.numCorrect </td>
				<td> @studentResult.numAttempted </td>
			</tr>
			}
		</table>
		}
    	
    }
}
