@(courseOp: Option[models.organization.Course])(implicit user: service.User, session: scala.slick.session.Session)

@import helper._
@import controllers.question.derivative.QuizForm
@import controllers.question.derivative.routes.QuizzesController
@import controllers.organization.routes._

@main("Create a Quiz") {

	<h2>Please enter the information about your quiz:</h2>

    @for(course <- courseOp){<h5> <a href="@CoursesController.view(course.id)">@course.name</a> </h5>}

    @form(action = QuizzesController.create( courseOp.map(_.id) ) ) {
		Name: <input type="text" name="@QuizForm.name" value="quiz name"> <br>
	    <input type="submit" value="Submit">
    }

}
