@(courseOp: Option[models.organization.Course], groupOp: Option[models.organization.assignment.Group])(implicit user: service.User, session: scala.slick.session.Session)

@import helper._
@import controllers.question.derivative.QuizForm
@import controllers.question.derivative.routes.QuizzesController
@import controllers.organization.routes._
@import controllers.organization.assignment.routes.GroupsController

@main("Create a Quiz") {

    <h2>Please enter the information about your quiz:</h2>

    @for(course <- courseOp) {
        This quiz is for the course [ <a href="@CoursesController.view(course.id)">@course.name</a> ] <br>
    }

    @for(group <- groupOp) {
        And the group [ <a href="@GroupsController.view(group.course.id, group.sectionId, group.assignmentId, group.id)">@group.name</a> ] <br>
    }

    @form(action = QuizzesController.create(courseOp.map(_.id))) {
        Name: <input type="text" name="@QuizForm.name" value="quiz name"> <br>
        <input type="submit" value="Submit">
    }

}
