@(access: service.Access, course: Option[Course], quiz: derivative.Quiz, questions: List[derivative.Question])(implicit user: service.User)

@import helper._
@import controllers.organization.routes._
@import controllers.question.derivative._ 
 
@main("Quiz " + quiz.name) {
    
    <h2>Welcome to the page for quiz: @quiz.name </h1>
    
    @for(c <- course){ <h5> This is a quiz for the course <a href=@CoursesController.view(c.id)>@c.name</a> </h5> }
    
    <p>
    	Pick one of the equations below:
    </p>
    
    <h4>There are @questions.size Question(s)</h4>
    
    <ul>
        @questions.map { question =>
            <li>
            	@math.mathmlContent(question.mathML)
                [<a href=@routes.QuestionsController.view(quiz.id, question.id, course.map(_.id))>view</a>]
            </li>
        }
    </ul>
    
    @if(access.write){
	    <h4>Add a new Question</h4>
	    
	    <p>
			Type in an equation and press "Save Question": <br> 
			Currently equations can only contain numbers, the variable X, parentheses, and basic functions (+, -, *, /, ^, exp(base,pow), log(base,pow), ln, sin, cos, tan, ) <br> 
			@math.mathmlEditor("QUESTION")
		</p>
	
	    @form(routes.QuestionsController.create(quiz.id, course.map(_.id)), 'id -> "derivativeqForm" ) {
	    	<input type="hidden" name="@QuestionForm.mathML" id="derivativeQuestionMathML">
	    	<input type="hidden" name="@QuestionForm.rawStr" id="derivativeQuestionRawStr">
	    	<input type="hidden" name="@QuestionForm.current" id="derivativeQuestionCurrent">
	    	<input type="button" value="Save Question" onclick="formSubmit()">
	    }
	    
	    <script>
		formSubmit = function() {
			if(QUESTION.valid){
				$("#derivativeQuestionMathML").val(QUESTION.mathML);
				$("#derivativeQuestionRawStr").val(QUESTION.rawStr);
				$("#derivativeQuestionCurrent").val(QUESTION.current);
				$("#derivativeqForm").submit();
			}
			// TODO indicated that the form did not submit
	    }
	    </script>
    }
    
}
