@(access: service.Access, 
	course: models.organization.Course,
	quizResults: viewsupport.question.derivative.StudentQuizResults,
	sectionResultsOp: Option[List[viewsupport.organization.SectionResults]])(implicit user: service.User, session: play.api.db.slick.Config.driver.simple.Session)

@import helper._
@import views.html.tag._
@import controllers.question.derivative.routes.QuestionsController
@import controllers.question.derivative.routes.QuizzesController
@import controllers.question.derivative.QuizForm
@import controllers.question.derivative.QuestionForm

@main("Quiz " + quizResults.quiz.name) {

    <h2>Welcome to the page for quiz: @quizResults.quiz.name </h2>
    
    This is a quiz for the course [ @courseLink(course) ] <br>

    @if(access.write){
    	@form(QuizzesController.rename(course.organizationId, course.id, quizResults.quiz.id), 'class -> "inline-block") {
     		To rename type a new name here <input type="text" name="@QuizForm.name" value="@quizResults.quiz.name"> 
    		and click <input type="submit" value="rename" > 
    	} 
    }
    
    <h4>There are @quizResults.questions.size Question(s) in the quiz</h4>
    
    <table>
    	<th>Question</th> <th>Details</th> <th>Status</th> @if(access.write){ <th> Remove </th> }
        @for(result <- quizResults.results){
            <tr>
            	<td> @mathml.mathmlContent(result.question) </td>
            	<td> <a href="@QuestionsController.view(course.organizationId, course.id, quizResults.quiz.id, result.question.id)">view</a> </td>
                <td> @views.html.question.status(result.status) </td>
                @if(access.write){ <td> @form(QuestionsController.remove(course.organizationId, course.id, quizResults.quiz.id, result.question.id), 'class -> "inline-block") { <input type="submit" value="remove" > } </td> }
            </tr>
        }
    </table>
    
    @if(access.write){
	    <h4>Add a new Question</h4>
	    
	    <p>
			Type in an equation and press "Save Question": <br> 
			@mathml.mathmlEditor(editorName="QUESTION")
		</p>
	
	    @form(QuestionsController.create(course.organizationId, course.id, quizResults.quiz.id), 'id -> "derivativeqForm" ) {
	    	<input type="hidden" name="@QuestionForm.mathML" id="derivativeQuestionMathML">
	    	<input type="hidden" name="@QuestionForm.rawStr" id="derivativeQuestionRawStr">
	    	<input type="button" value="Save Question" onclick="formSubmit()">
	    }
	    
	    <script>
		formSubmit = function() {
			if(QUESTION.valid){
				$("#derivativeQuestionMathML").val(QUESTION.mathML);
				$("#derivativeQuestionRawStr").val(QUESTION.rawStr);
				$("#derivativeqForm").submit();
			}
			// TODO indicated that the form did not submit
	    }
	    </script>
    }
    
    @* @for(sectionResults <- sectionResultsOp) {@views.html.tag.sectionResults(sectionResults)} *@

}
