@(question: models.quiz.question.MultipleChoiceQuestion,
        currentAnswer: Option[Either[models.quiz.answer.MultipleChoiceAnswer, models.quiz.answer.MultipleChoiceAnswer]])(implicit user: models.user.User, session: play.api.db.slick.Config.driver.simple.Session)

@import controllers.bank.routes.QuestionBankController
@import helper._
@import com.artclod.play.s

@mainWithBorder("Viewing Question", tag.bankLink(), tag.copyLink(question.id)) {

    <h4>Below is a mulitple choice question. Read the explanation and pick the correct answer:</h4>

    @helper.form(QuestionBankController.answerMultipleChoice(question.id), 'id -> "multipleChociceForm", 'class -> "pure-form") {
        <section>
        @question.display(false)
        </section>
        <br>

        @for(answerEither <- currentAnswer) {
        <section align="center">
            <h4>
            @answerEither match {
                case Right(answer) => {You answered @answer.display that answer was @mathml.correct(answer.correct)}
                case Left(answerTmp) => {You answered @answerTmp.display Sorry but the system was unable to determine if that answer was correct :( please try another answer}
            }
            </h4>
        </section>
        }

        @views.html.quiz.multiplechoice.answerEditor(question, currentAnswer){@tag.bankLink() @tag.copyLink(question.id)}
    }

    @* ===== Results ===== *@
    @defining(question.results(user)) { results : models.quiz.question.MultipleChoiceQuestionResults =>
    @if(results.answers.nonEmpty) {
        <section>
            <h4>You have answered this questions @results.answers.size time@s(results.answers)</h4>
            <ul>
            @for(answer <- results.answers) {
                <li> @answer.display this answer was @mathml.correct(answer.correct) </li>
            }
            </ul>
        </section>
    }
    }

}
