@(gameState: models.game.mask.GameMask,
        quiz: models.quiz.Quiz,
        question: models.quiz.question.PolynomialZoneQuestion,
        currentAnswer: Option[Either[models.quiz.answer.PolynomialZoneAnswer, models.quiz.answer.PolynomialZoneAnswer]])(implicit user: models.user.User, session: play.api.db.slick.Config.driver.simple.Session)

@import controllers.game.routes.{GamesRequestorController, GamesController}
@import controllers.quiz.polynomialzone.PolynomialZoneQuestionForm
@import helper._
@import com.artclod.play.s

@mainWithBorder("Answering Question", tag.courseOpLink(gameState.game.course), tag.gameLink(Html("game"), gameState.game)) {

    <h2>You are answering Question for a game with @gameState.other.nameView </h2>

    <h4>What is the PolynomialZone of:</h4>

    @question.display(false)

    @for(answerEither <- currentAnswer) {
    <section align="center">
        <h4>
        @answerEither match {
            case Right(answer) => {You answered @answer.display that answer was @mathml.correct(answer.correct)}
            case Left(answerTmp) => {You answered @answerTmp.display Sorry but the system was unable to determine if that answer was correct :( please try another answer}
        }
        </h4>
    </section>
    }

    @views.html.quiz.polynomialzone.answerEditor(gameState.answerPolynomialZoneQuestion(question.id), currentAnswer){@tag.gameLink(Html("Back to the Quiz"), gameState.game)}

    @* ===== Results ===== *@
    @defining(question.results(user)) { results : models.quiz.question.PolynomialZoneQuestionResults =>
        @if(results.answers.nonEmpty) {
            <section>
                <h4>You have answered this questions @results.answers.size time@s(results.answers)</h4>
                <ul>
                @for(answer <- results.answers) {
                    <li> @answer.display this answer was @mathml.correct(answer.correct) </li>
                }
                </ul>
            </section>
        }
    }

}
