@(action: play.api.mvc.Call, polynomialZoneForm: Form[controllers.quiz.polynomialzone.PolynomialZoneQuestionForm], successCallback : List[String] = List(), infoOp: Option[Html] = None)(implicit user: models.user.User, session: play.api.db.slick.Config.driver.simple.Session)

@import helper._
@import controllers.quiz.polynomialzone.PolynomialZoneQuestionForm
@import com.artclod.play.FormEnhanced

<section>
    Enter a comma separated list of integers (between -10 and 10) that will be the roots of your polynomial. When you are done hit "Save Question": <br>

    @mathml.polyZoneEditor(editorName = "POLYNOMIAL_ZONE_QUESTION", initialRootsValue=polynomialZoneForm.dataFor(PolynomialZoneQuestionForm.rootsStr), characterLimit = Some(40), successCallback = successCallback)

    @form(action, 'id -> "polynomialZoneQuestionForm", 'class -> "pure-form") {
        <fieldset>
            <input type="hidden" name="@PolynomialZoneQuestionForm.rootsStr" id="polynomialZoneQuestionRoots">
            <input type="hidden" name="@PolynomialZoneQuestionForm.scale" id="polynomialZoneQuestionScale">
            <input type="hidden" name="@PolynomialZoneQuestionForm.zoneType" id="polynomialZoneQuestionZoneType">
            <input type="button" class="pure-button" value="Save Question" onclick="POLYNOMIAL_ZONE_QUESTION.formSubmit()">
        </fieldset>
    }

    @for(info <- infoOp){ @info }

    <script>
    POLYNOMIAL_ZONE_QUESTION.formSubmit = function() {
        if(POLYNOMIAL_ZONE_QUESTION.valid){
            $("#polynomialZoneQuestionRoots").val(POLYNOMIAL_ZONE_QUESTION.rootsStr);
            $("#polynomialZoneQuestionScale").val(POLYNOMIAL_ZONE_QUESTION.scale);
            $("#polynomialZoneQuestionZoneType").val(POLYNOMIAL_ZONE_QUESTION.zoneType);
            $("#polynomialZoneQuestionForm").submit();
        } else {
            alert("Sorry we couldn't understand what you wrote. Please try changing it and resubmitting. There is a red icon next to the input box if the system can't understand what you typed.")
        }
    }
    </script>
</section>