@import "flexbox/flexbox.less";

@white: #FFFFFF;
@light: #B0E4F7; // #0086C2;
@medium: #3E95CD;
@dark: #17699D;

.primary-content {
  padding: 1em 1em 1em 1em;
}

.secondary-content {
  padding: .5em .5em .5em .5em;
}

// GENERAL STYLING =====================
.pure-skin-calctutor ul.pure-list {
  list-style-type: circle;
  list-style: none;
}

.pure-skin-calctutor ul.pure-list li { padding: .1em 0em; }

// MAIN LAYOUT =====================
.main {
  .flex-display;
  .flex-direction(column);
  min-height: 100vh; // Page is always at least the size of view, this ensure the footer is at the bottom of the screen
}

.content {
  // Flex item
  flex-grow: 1;
  flex-shrink: 0;
  // Flex Layout
  .flex-display;
  .flex-direction(column);
}

.header {
  // Flex item
  flex-basis: 3em;
  flex-grow: 0;
  flex-shrink: 0;
  // Flex Layout
  .flex-display;
  .flex-direction(row);
  .align-items(center);
  .justify-content(space-between);
  // Looks
  background: @medium;
}

.header-links {

}

.header-info {

}

.footer {
  // Flex item
  flex-basis: 2em;
  flex-grow: 0;
  flex-shrink: 0;
  // Flex Layout
  .flex-display;
  .flex-direction(row);
  .align-items(center);
  .justify-content(flex-end);
  // Looks
  background: @dark;

}


// MAJOR MINOR LAYOUT =====================
.major-minor-layout {
  // Flex item
  flex-grow: 1;
  flex-shrink: 0;
  // Flex Layout
  .flex-display;
}

.major-content {
  // Flex item
  .flex(7);
  // Flex Layout
  .flex-display;
  .flex-direction(column);
}

.minor-content {
  // Flex item
  .flex(3);
  // Flex Layout
  .flex-display;
  .flex-direction(column);
}

// GAME STATUS COMPONENT =====================
.game-status {
  // Flex item
  flex-grow: 1;
  flex-shrink: 0;
  // Flex Layout
  .flex-display;
  .flex-direction(column);
  .align-items(flex-start);
  .justify-content(flex-start);
  // Looks
  background: @light;
}
