@(editorName: String,
  initialAnswerOp: Option[String] = None,
  characterLimitOp: Option[Int] = None,
  callbackSuccessOp : Option[String] = None,
  callbackfailureOp : Option[String] = None)

    <!-- ========= MATH EDITOR STARTS HERE ======= -->
    @mathml.mathmlEditorHelp(editorName)

    <span id="@editorName">
        @*see http://stackoverflow.com/questions/574941/best-way-to-track-onchange-as-you-type-in-input-type-text*@
        <input id="mathMLInput" type="text" size="@characterLimitOp.getOrElse(80)" @for(lim <- characterLimitOp){maxlength="@lim"} onkeyup="@{editorName + ".updateAnswer(this.value)"}" onpaste="@{editorName + ".updateAnswer(this.value)"}" oninput="@{editorName + ".updateAnswer(this.value)"}"/>
        <font style:visibility="hidden" id="@{editorName+"Indicator"}" color="red"> * </font>
        <span id="@{editorName+"View"}"> `` </span>
    </span>

    <script>
    @if(characterLimitOp.nonEmpty){
    function limitText(limitField, limitNum) {
        if (limitField.value.length > limitNum) {
            limitField.value = limitField.value.substring(0, limitNum);
            return limitNum;
        }
    }
    }

    var @{editorName} = (function() {
        var result = {
                mathML : "",
                rawStr : "",
                valid : false
             };

        result.updateAnswer = function(mathMLStr) {

            result.rawStr = mathMLStr;

            var mathMLStatus = ARTC.statusTxt2MathML(mathMLStr);
            if (mathMLStatus.success) {
                result.mathML = mathMLStatus.value;
                result.valid = true;
                $("#@{editorName+"Indicator"}").hide();
                ARTC.updateInnerAsciiMath("@{editorName+"View"}", result.rawStr);
                @for(callbackSuccess <- callbackSuccessOp){@{callbackSuccess}(result)}
            } else {
                result.valid = false;
                $("#@{editorName+"Indicator"}").show();
                @for(callbackfailure <- callbackfailureOp){@{callbackfailure}(result)}
            }
        };

        @for(initialAnswer <- initialAnswerOp){
        $("#@{editorName} #mathMLInput").val("@initialAnswer")
        result.updateAnswer("@initialAnswer")
        }

        return result;
    })();
    </script>

    <!-- ========= MATH EDITOR ENDS HERE ======= -->
