@(editorName: String,
  initialValue: Option[String] = None,
  characterLimit: Option[Int] = None,
  successCallback : Option[String] = None,
  failureCallback : Option[String] = None,
  mathParser: String = "ARTC.mathJS.defaultParser")

    <!-- ========= MATH EDITOR STARTS HERE ======= -->
    @mathml.mathmlEditorHelp(editorName, mathParser)

    <span id="@editorName"> @*see http://stackoverflow.com/questions/574941/best-way-to-track-onchange-as-you-type-in-input-type-text*@
        <input id="mathMLInput" type="text" size="@characterLimit.getOrElse(80)" @for(lim <- characterLimit){maxlength="@lim"} onchange="@{editorName + ".updateAnswer(this.value)"}" oninput="@{editorName + ".updateAnswer(this.value)"}"/>
        <span style:visibility="hidden" id="@{editorName+"Indicator"}"> @tag.icon("icon-warning2", 'class -> "warning", 'data_ot -> "Equation could not be parsed (or is empty)") </span>
        <span id="@{editorName+"View"}"> $$ $$ </span>
    </span>

    <script>
    @if(characterLimit.nonEmpty){
    function limitText(limitField, limitNum) {
        if (limitField.value.length > limitNum) {
            limitField.value = limitField.value.substring(0, limitNum);
            return limitNum;
        }
    }
    }

    var @{editorName} = (function() {
        var result = {
                mathML : "",
                rawStr : "",
                valid : false
             };

        result.updateAnswer = function(mathStr) {
            result.rawStr = mathStr;
            var mathResult = @{mathParser}(mathStr);
            if(mathResult.success) {
                result.mathML = mathResult.content;
                result.valid = true;
                $("#@{editorName+"Indicator"}").hide();
                ARTC.mathJax.update("@{editorName+"View"}", ARTC.mathJax.tex(mathResult.node.toTex()));
                @for(onSuccess <- successCallback){@{onSuccess}(result)}
            } else {
                result.valid = false;
                $("#@{editorName+"Indicator"}").show();
                @for(onFailure <- failureCallback){@{onFailure}(result)}
            }
        };

        @for(value <- initialValue){
        ARTC.addLoadEvent(function(){
            $("#@{editorName} #mathMLInput").val("@value");
            result.updateAnswer("@value");
        });
        }
        return result;
    })();
    </script>

    <!-- ========= MATH EDITOR ENDS HERE ======= -->
