@(editorName: String,
  initialValue: Option[String] = None,
  characterLimit: Option[Int] = None,
  successCallback : List[String] = List(),
  failureCallback : List[String] = List(),
  mathParser: String = "ARTC.mathJS.defaultParser")

    <!-- ========= MATH EDITOR STARTS HERE ======= -->
    @mathml.mathmlEditorHelp(editorName, mathParser)

    <span id="@editorName"> @*see http://stackoverflow.com/questions/574941/best-way-to-track-onchange-as-you-type-in-input-type-text*@
        <input id="mathMLInput" type="text" size="@characterLimit.getOrElse(80)" @for(lim <- characterLimit){maxlength="@lim"} onchange="@{editorName + ".updateAnswer(this.value)"}" oninput="@{editorName + ".updateAnswer(this.value)"}"/>
        <span id="@{editorName+"Indicator"}"> @tag.icon("icon-warning2", 'class -> "warning", 'data_ot -> "Equation could not be parsed (or is empty)") </span>
        <span id="@{editorName+"View"}"> </span>
    </span>

    <script>
    // Start the indicator hidden
    $("#@{editorName+"Indicator"}").hide();

    var @{editorName} = (function() {
        var result = {
                mathML : "",
                rawStr : "",
                node : null,
                valid : false
             };

        result.updateAnswer = _.debounce(function(mathStr) {
            result.rawStr = mathStr;
            var mathResult = @{mathParser}(mathStr);
            if(mathResult.success) {
                result.mathML = mathResult.content;
                result.node = mathResult.node;
                result.valid = true;
                $("#@{editorName+"Indicator"}").hide();
                ARTC.mathJax.updateById("@{editorName+"View"}", ARTC.mathJax.tex(mathResult.node.toTex()));
                @for(onSuccess <- successCallback){@{onSuccess}(result); }
            } else {
                result.valid = false;
                $("#@{editorName+"Indicator"}").show();
                if(mathStr == "") { ARTC.mathJax.updateById("@{editorName+"View"}", ARTC.mathJax.tex("")); }
                @for(onFailure <- failureCallback){@{onFailure}(result); }
            }
        }, 300);

        @for(value <- initialValue){
        ARTC.addLoadEvent(function(){
            $("#@{editorName} #mathMLInput").val("@value");
            result.updateAnswer("@value");
        });
        }
        return result;
    })();
    </script>

    <!-- ========= MATH EDITOR ENDS HERE ======= -->
