@(derivativeQs: List[DerivativeQuestion], equationForm: Form[String])

@import helper._
@import controllers.{DerivativeQHTML => DQ}
 
@main("Question list") {
    
    <h1>@derivativeQs.size derivative question(s)</h1>
    
    <ul>
        @derivativeQs.map { derivativeQ =>
            <li>
            	<script type="math/mml"> @Html(derivativeQ.mathML.toString) </script>
                
                @form(routes.Application.deleteDerivativeq(derivativeQ.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Add a new Derivative Question</h2>
    
    <p>
		Type in an equation and press RETURN: <br> 
		Currently equations can only contain numbers,the variable X and +,-,*,/,^,() <br> 
		<input id="MathInput" size="80" onchange="updateJaxTeX(jax('MathOutput'), this.value)" />
	</p>
 
	<div id="box">
		You typed:<br>
		<div id="MathOutput">$${}$$</div>
	</div>
    
    @form(routes.Application.newDerivativeq, 'id -> "derivativeqForm" ) {
    	<input type="hidden" name="@DQ.equation" id="derivativeqMathML">
    	<input type="button" value="Save Question" onclick="derivativeqFormSubmit()">
    }
    
    <script>
    function derivativeqFormSubmit() {
        toMathML(jax("MathOutput"), function(mathML) {
        	console.log(mathML);
	        $("#derivativeqMathML").val(mathML);
	        $("#derivativeqForm").submit();
        });
        return false;
    }
    </script>
    
}
