@(courses: List[CourseDetails])(implicit user: service.User)

@import helper._
@import controllers.organization.routes._
@import controllers.organization.SectionJoin
@import service._ 
 
@main("EdTech Welcome Page") {
    
    <h1>Welcome to the EdTech server</h1>
    
    <h5> Here are the list of couses and sections </h5>
    click on a course or section for more info (or to join it)
    
    <ul>
    @for(course <- courses){
    	<li> 
    		<a href=@CoursesController.view(course.c.id)>@course.c.name</a> 
    		@if(course.a != Non){ Access: @AccessName(course.a) } 
    	</li>
    
    	@if(course.sections.nonEmpty){
	        <ul>
	        @for(section <- course.sections){ 
	            <li> 
	            	<a href=@SectionsController.view(section.s.courseId, section.s.id)> @section.s.name </a> 
	            	@if(section.a != Non){ <Access: @AccessName(section.a)  > }
	            </li>
	        }
	        </ul>
        }
    }
    </ul>
}
