@(equations: List[Equation], equationForm: Form[String])

@import helper._
@import controllers.EquationHTML

@main("Equation list") {
    
    <h1>@equations.size equation(s)</h1>
    
    <ul>
        @equations.map { equation =>
            <li>
                @equation.equation
                
                @form(routes.Application.deleteEquation(equation.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Add a new equation</h2>
    
    @form(routes.Application.newEquation) {
        @inputText(equationForm(EquationHTML.equation))
        <input type="submit" value="Create">
    }
    
}
