@()(implicit user: service.User, session: play.api.db.slick.Config.driver.simple.Session)

@import controllers.organization.routes.OrganizationsController
@import views.html.game.status.gamesStatus
@import models.user.UserPimped

@defining(user.courses) { courses =>

@main("EdTech Welcome Page") {

    <div class="row-layout">

        <div class="major-content">
            <h1>@viewsupport.ViewText.welcome</h1>

            <section>
                <h2>Courses</h2>
                @if(user.courses.isEmpty) {
                You are not currently associated with any courses.
                } else {
                <ul>
                @for(course <- courses) {<li> [ @tag.courseLink(course) ] @tag.accessName(course.access) </li>}
                </ul>
                }
            </section>

            <section>
                <h2>Organizations</h2>
                Too see a list of all of the organizations click [ <a href="@OrganizationsController.list">here</a> ]
            </section>
        </div>

        <div class="minor-content">
            @gamesStatus(None)
        </div>

    </div>
}

}