@(title: String, headers: Html*)(content: Html)(implicit user: service.User)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/mathml.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/artclod_txt2mathml.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/artclod_mathml_utils.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/artclod_xsl.js")" type="text/javascript"></script>
        <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML-full"></script>
    </head>
    <body>

    <header>
    	<div class="header-links">
        	[<a href="@routes.Application.userInfo">User(@user.email)</a>]
            [<a href="@routes.Application.index">Home</a>]
            [<a href="@controllers.organization.routes.CoursesController.list">Courses</a>]
        	@for(header <- headers) {
                @header
            }
        </div>

        <div class="header-info">
	    	This site is in Beta. If you have any feedback please <a href="mailto:edutech.brandeis@@gmail.com?subject=EduTech Calculus CoTutor">email us</a>.
			Version: @controllers.Application.version.toString
            [<a href="@securesocial.controllers.routes.LoginPage.logout">logout</a>]
		</div>
    </header>

	<hr class="header-end">

    <section>
        @content
    </section>

    </body>
</html>
