@(title: String, headers: Html*)(content: Html)(implicit user: models.user.User, session: play.api.db.slick.Config.driver.simple.Session)

@import views.html.tag.studentSkillLevel

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>@title</title>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />

        @imports()
    </head>
    <body class="main pure-skin-calctutor">

        <header class="header">
            <div class="header-links">
                <a href="@routes.Home.index" class="pure-button">Home</a>
                <a href="@controllers.tournament.routes.TournamentsController.leaderBoard" class="pure-button">Leader Board</a>
                <a href="@controllers.organization.routes.OrganizationsController.list" class="pure-button">Organizations</a>
                @for(header <- headers) {
                    @header
                }
            </div>
            <div class="header-info">
                <a href="@routes.Home.userInfo" class="pure-button">@user.nameView</a>
                <a href="@routes.Home.friends" class="pure-button">Friends@if(models.user.Friends.pendingInvitesFor.nonEmpty){ @tag.icon("icon-heart6")}</a>
                <a href="@securesocial.controllers.routes.LoginPage.logout" class="pure-button">logout</a>
                @*Skill Level: @studentSkillLevel(user)*@
            </div>
        </header>

        <section class="content">
            @content
        </section>

        <footer class="footer">
            <div>
                This site is in Beta. If you have any feedback please <a href="mailto:edutech.brandeis@@gmail.com?subject=CalcTutor">email us</a>.
                Version: @controllers.Application.version.toString
            </div>
        </footer>
    @views.html.alert.modal(models.user.Alerts.alertsHtml(user))
    </body>
</html>
