@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/mathml.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/artclod_txt2mathml.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/artclod_mathml_utils.js")" type="text/javascript"></script>
        <script type="text/x-mathjax-config">
        // from http://docs.mathjax.org/en/latest/mathml.html
		MathJax.Hub.Config({
			MathML: {
				extensions: ["content-mathml.js"]
			}
		});
		</script>
        <script src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    </head>
    <body>

    <header>
        <a href="@routes.Application.index">@title</a>
    </header>

	<hr>

    <section>
        @content
    </section>

	<hr>

	<footer>
	    Currently we are in very preliminary stages of development and most things are subject to change. <br>
		If you any feedback please <a href="mailto:tjhickey@@brandeis.edu?subject=EduTech Calculus CoTutor"> email us</a> 
	</footer>

    </body>
</html>
