@(questionSet: (derivative.Quiz, List[Long]), derivativeQs: List[derivative.Question])

@import helper._
@import controllers.question.derivative._ 
 
@main("Self Quiz Question Set Edit") {
    
    <h2>Welcome to the EdTech Self Quiz Question Set editor</h1>
    
    @form(action = routes.QuizController.updateSet(questionSet._1.id) ) {
    
    	<h4>Change the name of the Question Set here</h4> <br>
    
    	<input type="text" name="@QuizHTML.name" value="@questionSet._1.name"> <br>
    
	    <h4>Select which question(s) you want in your quiz</h4> <br>
	    
	    <ul>
	    	@derivativeQs.zip(0 until derivativeQs.size).map{ q =>
	            <li>
	            	<script type="math/mml"> @Html(q._1.mathML.toString) </script>
	            	<input type="checkbox" name="@QuizHTML.questionId(q._2)" value="@q._1.id" @if(questionSet._2.contains(q._1.id) ){ checked }>
	            </li>
	        }
	    </ul>
	    <input type="submit" value="Submit">
    }
    
}
