@(set: DerivativeQuestionSet, derivativeQs: List[DerivativeQuestion])

@import helper._
@import controllers.DerivativeQuestionHTML
 
@main("Self Quiz Question Set") {
    
    <h2>Welcome to the EdTech Self Quiz Question Set Page</h1>
    
    <p>
    	You are viewing the set "@set.name" Pick one of the equations below to try figure out it's derivative.
    </p>
    
    
    <h4>@derivativeQs.size Derivative Question(s)</h4>
    
    <ul>
        @derivativeQs.map { derivativeQ =>
            <li>
            	<script type="math/mml"> @Html(derivativeQ.mathML.toString) </script>
                <a href=@routes.DerivativeQuestionController.question(derivativeQ.id, Some(set.id))> answer </a>
            </li>
        }
    </ul>
    
}
