@(questonsSets: List[derivative.Quiz])

@import helper._
@import controllers.DerivativeQuestionHTML
 
@main("List of Self Quiz Question Sets") {
    
    <h2>Welcome to the EdTech Self Quiz Question Set list</h1>
    
    <p>
    	Select the Question Set you like to answer the questions for (or edit).
    </p>
    
    
    <h4>@questonsSets.size Derivative Set(s)</h4>
    
    <ul>
        @questonsSets.map { set =>
            <li>
            	@set.name
            	[<a href=@routes.DerivativeQuestionSetController.setAnswer(set.id)>answer</a>]
            	[<a href=@routes.DerivativeQuestionSetController.setEdit(set.id)>edit</a>]
            </li>
        }
    </ul>
    
}
