@(questionSet: Option[DerivativeQuestionSet], derivativeQs: List[DerivativeQuestion])

@import helper._
@import controllers.QuestionSetHTML
 
@main("List of Self Quiz Questions") {
    
    <h2>Welcome to the EdTech Differentition Problem Set editor</h1>
    
    <p>
    	Select the equations you'd like to see in the problem set.
    </p>
    
    
    @form(action = 
    	if(questionSet.isEmpty) { routes.DerivativeQuestionSetController.newSelfQuizQuestionSet }
    	else { routes.DerivativeQuestionSetController.updateSelfQuizQuestionSet } ) {
		
		@if(questionSet.nonEmpty){ <input type="hidden" name="@QuestionSetHTML.id" value="@questionSet.get.id"> }
    
    	<input type="text" name="@QuestionSetHTML.name" value="@questionSet.map(_.name).getOrElse("question set name")"> <br>
    
	    <h4>Select which question(s) you want in your quiz</h4> <br>
	    
	    <ul>
	    	@derivativeQs.zip(0 until derivativeQs.size).map{ q =>
	            <li>
	            	<script type="math/mml"> @Html(q._1.mathML.toString) </script>
	            	<input type="checkbox" name="@QuestionSetHTML.questionId(q._2)" value="@q._1.id">
	            </li>
	        }
	    </ul>
	    <input type="submit" value="Submit">
    }
    
}
