@(derivativeQs: List[DerivativeQuestion])

@import helper._
@import controllers.DerivativeQuestionHTML
 
@main("List of Self Quiz Questions") {
    
    <h2>Welcome to the EdTech Differentition Self Quiz</h1>
    
    <p>
    	Pick one of the equations below to try figure out it's derivative.
    </p>
    
    
    <h4>@derivativeQs.size Derivative Question(s)</h4>
    
    <ul>
        @derivativeQs.map { derivativeQ =>
            <li>
            	<script type="math/mml"> @Html(derivativeQ.mathML.toString) </script>
                
                <a href=@routes.Application.selfQuizQuestion(derivativeQ.id)> answer </a>
                
                @form(routes.Application.deleteSelfQuizQuestion(derivativeQ.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h4>Add a new Derivative Question</h4>
    
    <p>
		Type in an equation and press "Save Question": <br> 
		Currently equations can only contain numbers, the variable X, parentheses, and basic functions (+, -, *, /, ^,  sin, cos, tan) <br> 
		@mathml_editor("QUESTION")
	</p>

    @form(routes.Application.newSelfQuizQuestion, 'id -> "derivativeqForm" ) {
    	<input type="hidden" name="@DerivativeQuestionHTML.mathML" id="derivativeQuestionMathML">
    	<input type="hidden" name="@DerivativeQuestionHTML.rawStr" id="derivativeQuestionRawStr">
    	<input type="hidden" name="@DerivativeQuestionHTML.current" id="derivativeQuestionCurrent">
    	<input type="button" value="Save Question" onclick="formSubmit()">
    }
    
    <script>
	formSubmit = function() {
		if(QUESTION.valid){
			$("#derivativeQuestionMathML").val(QUESTION.mathML);
			$("#derivativeQuestionRawStr").val(QUESTION.rawStr);
			$("#derivativeQuestionCurrent").val(QUESTION.current);
			$("#derivativeqForm").submit();
		}
		// TODO indicated that the form did not submit
    }
    </script>
    
}
