@(question: DerivativeQuestion, answer: Option[DerivativeQuestionAnswer])

@import helper._
@import controllers.DerivativeQuestionAnswerHTML
 
@main("List of Self Quiz Questions") {
    
    <h1>What is the Derivative of</h1>
    <script type="math/mml"> @Html(question.mathML.toString) </script>
    
    <p>
		Type in your answer, press RETURN, and the hit the submit button <br> 
		<input size="80" onchange="QUIZ.updateAnswer(this.value)" value="@answer.map(_.originalStr).getOrElse("")"/>
	</p>
	<div id="box">
		You typed:<br>
		@if(answer.nonEmpty){
			<div id="answer"> <script type="math/mml"> @Html(answer.get.mathML.toString) </script> </div>	
		} else {
			<div id="answer"> $${}$$ </div>	
		}
	</div>
	
	@if(answer.nonEmpty){
		<p>
		You answered the question @if(answer.get.correct){ correctly! } else { incorrectly }
		</p>
	}		
	
	@form(routes.Application.answerSelfQuizQuestion, 'id -> "answerForm" ) {
		<input type="hidden" name="@DerivativeQuestionAnswerHTML.questionId" value="@question.id">
    	<input type="hidden" name="@DerivativeQuestionAnswerHTML.answer" id="answerValue" value="">
    	<input type="button" value="Submit" onclick="QUIZ.answerFormSubmit()">
    }
	
	    <script>
var QUIZ = (function() {
    var result = { mathML : "" };

    result.updateAnswer = function(mathMLStr) {
    	var mathMLStatus = ARTC.statusTxt2MathML(mathMLStr);
    	if (mathMLStatus.success) {
    		console.log(mathMLStatus.value);
    		result.mathML = mathMLStatus.value;
    		ARTC.updateContentMathML("answer", mathMLStatus.value);
    	} else {
    		// TODO handle error case
			console.log(mathMLStatus);
		}
    };

    result.answerFormSubmit = function() {
    	// TODO don't submit when result is empty
    	$("#answerValue").val(result.mathML);
    	$("#answerForm").submit();
		return false;
    }

    return result;
})();
    </script>
}
