 @(question: DerivativeQuestion, answer: Option[DerivativeQuestionAnswer])

@import helper._
@import controllers.DerivativeQuestionAnswerHTML
 
@main("Answer a Self Quiz Question") {
    <div>
    	<a href="@routes.Application.selfQuizQuestions"> Back to the list of questions</a>
    </div>
    
    <h2>What is the Derivative of</h2>
    <script type="math/mml"> @Html(question.mathML.toString) </script>
    
    <div>
		Type in your answer, and then hit the submit button <br> 
		@mathml_editor("ANSWER")
	</div>
		
	@if(answer.nonEmpty){
	<div>
		You answered the question @if(answer.get.correct){ <font color="green"> correctly! </font> } else { <font color="red"> incorrectly </font> }
	</div>
	}		
	
	<div>
	@form(routes.Application.answerSelfQuizQuestion, 'id -> "answerForm" ) {
		<input type="hidden" name="@DerivativeQuestionAnswerHTML.questionId" value="@question.id">
    	<input type="hidden" name="@DerivativeQuestionAnswerHTML.answer" id="answerValue">
    	<input type="button" value="Submit" onclick="answerFormSubmit()">
    }
    </div>
	
	<script>
	var answerFormSubmit = function() {
		if(ANSWER.valid){
			$("#answerValue").val(ANSWER.mathML);
			$("#answerForm").submit();
		}
		// TODO indicated that the form did not submit
	}
    </script>
}
