@(derivativeQs: List[models.question.DerivativeQuestion])

@import helper._
@import controllers.QuestionSetHTML
 
@main("Self Quiz Question Set Create") {
    
    <h2>Welcome to the EdTech Self Quiz Question Set Creator</h1>
    
    @form(action = routes.DerivativeQuestionSetController.newSet) {

		<h4>Type the name of the Question Set here</h4> <br>
    	
    	<input type="text" name="@QuestionSetHTML.name" value="question set name"> <br>
    
	    <h4>Select which question(s) you want in your question set</h4> <br>
	    
	    <ul>
	    	@derivativeQs.zip(0 until derivativeQs.size).map{ q =>
	            <li>
	            	<script type="math/mml"> @Html(q._1.mathML.toString) </script>
	            	<input type="checkbox" name="@QuestionSetHTML.questionId(q._2)" value="@q._1.id">
	            </li>
	        }
	    </ul>
	    <input type="submit" value="Submit">
    }
    
}
