@(question: derivative.Question, answers: List[derivative.Answer])

@import helper._
@import controllers.DerivativeQuestionAnswerHTML
 
@main("Self Quiz Question Answers") {
    <div>
    	<a href="@routes.DerivativeQuestionController.questions"> Back to the list of questions</a>
    </div>
    
    <div>
	    <h2>Question: What is the Derivative of</h2>
    	<script type="math/mml"> @Html(question.mathML.toString) </script>
	</div>
	<p>
	
	<h4>There have been @answers.size Answer(s)</h4>
    <ul>
        @answers.map { answer =>
            <li>
            	<script type="math/mml"> @Html(answer.mathML.toString) </script>
            	this answer was @if(answer.correct) { <font color="green"> correct </font> } else { <font color="red"> incorrect </font> }
                <a href=@routes.DerivativeQuestionAnswerController.answer(answer.questionId, answer.id, None)> details </a>
            </li>
        }
    </ul>
    <p>
	
	<div>
		To answer this questions <a href=@routes.DerivativeQuestionController.question(question.id, None)> go here </a>
	</div>
}
