@(derivativeQs: List[DerivativeQuestion], questionForm: Form[String])

@import helper._
@import controllers.DerivativeQuestionHTML
 
@main("List of Self Quiz Questions") {
    
    <h1>@derivativeQs.size Derivative Question(s)</h1>
    
    <ul>
        @derivativeQs.map { derivativeQ =>
            <li>
            	<script type="math/mml"> @Html(derivativeQ.mathML.toString) </script>
                
                <a href=@routes.Application.takeSelfQuizQuestion(derivativeQ.id)> answer </a>
                
                @form(routes.Application.deleteSelfQuizQuestion(derivativeQ.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Add a new Derivative Question</h2>
    
    <p>
		Type in an equation and press RETURN: <br> 
		Currently equations can only contain numbers,the variable X and +,-,*,/,^,() <br> 
		<input id="MathInput" size="80" onchange='QUIZ.updateMathOutput(this.value)' />
	</p>
 
	<div id="box">
		You typed:<br>
		<div id="MathOutput">$${}$$</div>
	</div>
    
    @form(routes.Application.newSelfQuizQuestion, 'id -> "derivativeqForm" ) {
    	<input type="hidden" name="@DerivativeQuestionHTML.equation" id="derivativeQuestionMathML">
    	<input type="button" value="Save Question" onclick="QUIZ.formSubmit()">
    }
    
    <script>
var QUIZ = (function() {
    var result = { mathML : null };

    result.updateMathOutput = function(mathMLStr) {
    	var mathMLStatus = ARTC.statusTxt2MathML(mathMLStr);
    	if (mathMLStatus.success) {
    		console.log(mathMLStatus.value);
    		result.mathML = mathMLStatus.value;
    		ARTC.updateContentMathML("MathOutput", mathMLStatus.value);
    	} else {
    		// TODO handle error case
			console.log(mathMLStatus);
		}
    };

    result.formSubmit = function() {
    	$("#derivativeQuestionMathML").val(result.mathML);
    	$("#derivativeqForm").submit();
		return false;
    }

    return result;
})();
    </script>
    
}
