@()

@import helper._
@import controllers.{EquationHTML => EQ}
 
@main("EdTech Self Quiz") {
    
    <h1>Welcome to the EdTech Self Quiz Page</h1>
    
    <p>
    	Please pick one of the options below
    </p>
    
    <ul>
     <li> <a href=@routes.DerivativeQuestionController.questions> See a list of all the questions</a> (You can try to answer one or make your own) </li>
     <li> <a href=@routes.DerivativeQuestionSetController.sets> See a list of questions sets</a> (and pick one to answer) </li>
     <li> <a href=@routes.DerivativeQuestionSetController.setCreate> Create your own set of questions</a> </li>
    </ul>
    
}
