@()
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Javascript Test Page</title>
        @imports()
    </head>
    <body>

    <div id="progressbar" data-bind="kendoProgressBar: percent"></div>
    <input data-bind="value: percent" />
    <script>
        $("#progressbar").kendoProgressBar({
            animation: {
                duration: 500
            },
            max:100
        });
        var ViewModel = function() {
            this.percent = ko.observable(30);
        };

        ko.applyBindings(new ViewModel());
    </script>

    </body>
</html>
