@(action: play.api.mvc.Call, tangentForm: Form[controllers.quiz.tangent.TangentQuestionForm], successCallback : Option[String] = None)(implicit user: models.user.User, session: play.api.db.slick.Config.driver.simple.Session)

@import helper._
@import controllers.quiz.tangent.TangentQuestionForm
@import com.artclod.play.FormEnhanced

<section>
    Enter a function (of x) and a point to find the equation for the tangent line at. When you are done hit "Save Question": <br>

    @if(tangentForm.hasMessage(TangentQuestionForm.tangentUndefined)){<span class="form-error"> We were unable to create your question since the tangent line is not defined at the point you gave, please try another point (or function). </span><br>}

    Function: @mathml.mathmlEditor(editorName="TANGENT_QUESTION_FUNCTION", initialValue=tangentForm.dataFor(TangentQuestionForm.functionStr), characterLimit=Some(40), mathParser = "CALC.mathJS.functionOfXParser", successCallback = successCallback) <br>

    Tangent @@ x value: @mathml.mathmlEditor(editorName = "TANGENT_QUESTION_X", initialValue=tangentForm.dataFor(TangentQuestionForm.atPointXStr), characterLimit=Some(10), mathParser = "CALC.mathJS.constantParser") <br>

    @form(action, 'id -> "tangentQuestionForm", 'class -> "pure-form") {
        <fieldset>
            <input type="hidden" name="@TangentQuestionForm.function"    id="tangentQuestionFunctionMathML">
            <input type="hidden" name="@TangentQuestionForm.functionStr" id="tangentQuestionFunctionRawStr">
            <input type="hidden" name="@TangentQuestionForm.atPointX"    id="tangentQuestionXMathML">
            <input type="hidden" name="@TangentQuestionForm.atPointXStr" id="tangentQuestionXRawStr">
            <input type="button" class="pure-button" value="Save Question" onclick="TANGENT_QUESTION.formSubmit()">
        </fieldset>
    }

    <script>
    var TANGENT_QUESTION = {}
    TANGENT_QUESTION.formSubmit = function() {
        var ready = true;

        if(TANGENT_QUESTION_FUNCTION.valid){
            $("#tangentQuestionFunctionMathML").val(TANGENT_QUESTION_FUNCTION.mathML);
            $("#tangentQuestionFunctionRawStr").val(TANGENT_QUESTION_FUNCTION.rawStr);
        } else {
            ready = false;
            alert("Sorry we couldn't understand the function that you wrote. Please try changing it and resubmitting. There is a red icon next to the input box if the system can't understand what you typed.");
        }

        if(TANGENT_QUESTION_X.valid){
            $("#tangentQuestionXMathML").val(TANGENT_QUESTION_X.mathML);
            $("#tangentQuestionXRawStr").val(TANGENT_QUESTION_X.rawStr);
        } else {
            ready = false;
            alert("Sorry we couldn't understand the x value that you wrote. Please try changing it and resubmitting. There is a red icon next to the input box if the system can't understand what you typed.");
        }

        if(ready) {
            $("#tangentQuestionForm").submit();
        }
    }
    </script>

</section>