@(name: String, skillLevel: Double)

@import controllers.quiz.QuestionsController.{partnerSkill, difficulty, correctPoints, incorrectPoints}
@import controllers.quiz.tangent.TangentQuestionForm.{function, functionStr, atPointX, atPointXStr}

@views.html.quiz.scoringHints(name, skillLevel, "/question/difficulty/tangent"){
    {
        @functionStr  : TANGENT_QUESTION_FUNCTION.rawStr,
        @function     : TANGENT_QUESTION_FUNCTION.mathML,
        @atPointXStr  : TANGENT_QUESTION_X.rawStr,
        @atPointX     : TANGENT_QUESTION_X.mathML,
        @partnerSkill : @skillLevel
    }
}{ TANGENT_QUESTION_FUNCTION.valid && TANGENT_QUESTION_X.valid }
